{% extends "layout.html" %}

{% block title %}
    Agente Inmobiliario en Lima - Venda, compre o alquile su casa o propiedad
{% endblock %}


{% block main %}

        <div class="header">
            <h4>Melba Marazo  Agente Inmobiliario en Lima  996 348 766</h4><br>
        </div>

        <div class="flex-container">
          <div style="flex-grow: 4">Departamento dúplex Urb. Residencial Higuereta, Surco</div>
          <div style="flex-grow: 2">US$ 285 000</div>
          <div style="flex-grow: 1">Segundo piso</div>
          <div style="flex-grow: 1">Vista interna</div>
          <div style="flex-grow: 2">Edificio con solo 7 departamentos</div>
        </div>

        <h3> </h3><h4>Privacidad y tranquilidad en dúplex Urb. Residencial Higuereta</h4>
        <p>Está ubicado en el 2do piso  con vista interna de un lindo edificio de solo 7 departamentos,  en una zona muy tranquila y con una excelente ubicación, a solo 5 minutos del óvalo Higuereta, Plaza Vea de Los Cabitos, Polvos Rosados, muy cerca a colegios, parques, a las avenidas principales como Av. Aviación, Pedro Venturo, Av. Valle del Sur , a pocos minutos del centro financiero de Chacarilla.</p>


    <h2 style="text-align:center">Galer&iacutea</h2>

    <div class="container">
      <div class="mySlides">
        <div class="numbertext">1 / 9</div>
        <img src="/static/AI1/AI1b.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">2 / 9</div>
        <img src="/static/AI1/AI1c.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">3 / 9</div>
        <img src="/static/AI1/AI1d.jpg" style="width:100%">
      </div>
    
      <div class="mySlides">
        <div class="numbertext">4 / 9</div>
        <img src="/static/AI1/AI1e.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">5 / 9</div>
        <img src="/static/AI1/AI1f.jpg" style="width:100%">
      </div>
    
      <div class="mySlides">
        <div class="numbertext">6 / 9</div>
        <img src="/static/AI1/AI1g.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">7 / 9</div>
        <img src="/static/AI1/AI1h.jpg" style="width:100%">
      </div>
        
      <div class="mySlides">
        <div class="numbertext">8 / 9</div>
        <img src="/static/AI1/AI1i.jpg" style="width:100%">
      </div>
        
      <div class="mySlides">
        <div class="numbertext">9 / 9</div>
        <img src="/static/AI1/AI1j.jpg" style="width:100%">
      </div>
        
    
      <a class="prev" onclick="plusSlides(-1)">❮</a>
      <a class="next" onclick="plusSlides(1)">❯</a>

      <div class="caption-container">
       <p id="caption"></p>
      </div>

      <div class="row">
        <div class="column">
          <img class="demo cursor" src="/static/AI1/AI1b.jpg" style="width:100%" onclick="currentSlide(1)" alt="Frontis edificio">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI1/AI1c.jpg" style="width:100%" onclick="currentSlide(2)" alt="Hall y escalera 2do nivel">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI1/AI1d.jpg" style="width:100%" onclick="currentSlide(3)" alt="Cuarto principal">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI1/AI1e.jpg" style="width:100%" onclick="currentSlide(4)" alt="Cuarto">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI1/AI1f.jpg" style="width:100%" onclick="currentSlide(5)" alt="Cocina">
        </div>    
        <div class="column">
          <img class="demo cursor" src="/static/AI1/AI1g.jpg" style="width:100%" onclick="currentSlide(6)" alt="Cocina">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI1/AI1h.jpg" style="width:100%" onclick="currentSlide(7)" alt="Baño">
        </div>          
        <div class="column">
          <img class="demo cursor" src="/static/AI1/AI1i.jpg" style="width:100%" onclick="currentSlide(8)" alt="Lavandería">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI1/AI1j.jpg" style="width:100%" onclick="currentSlide(9)" alt="Hall de ingreso">
        </div>
      </div>
    </div>

        <h5>Ubicación</h5>
        <img src="/static/AI1/AI1u2.jpg" alt="Ubicación departamento" style="width:100%;">
        <p></p>
              
        <input type="button" onclick="history.back()" name="volver al inicio" value="volver al inicio">


    <script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      var captionText = document.getElementById("caption");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
      captionText.innerHTML = dots[slideIndex-1].alt;
    }
    </script>

{% endblock %}

