{% extends "layout.html" %}

{% block title %}
    Agente Inmobiliario en Lima - Venda, compre o alquile su casa o propiedad
{% endblock %}


{% block main %}

        <div class="header">
            <h4>Melba Marazo  Agente Inmobiliario en Lima  996 348 766</h4><br>
        </div>

        <div class="flex-container">
          <div style="flex-grow: 4">Terreno Supe Puerto al costado de antigua Panamericana Norte</div>
          <div style="flex-grow: 2">US$ 3 853 725</div>
          <div style="flex-grow: 1">A pie de carretera</div>
          <div style="flex-grow: 1">Nivelado</div>
          <div style="flex-grow: 2">51383 m2</div>
        </div>

        <h3> </h3><h4>El terreno que tu proyecto de desarrollo necesita</h4>
        <p>Magnífico terreno para proyecto urbano o industrial. Ubicado al pie de la carretera de la antigua Panamericana Norte,</p>
        <p>en el límite de Supe Puerto con Barranca. Cerca de empresas agrícolas y pesqueras; a 2500 m del muelle de Supe Puerto y</p>
        <p>a 1500 de la SET 60 kilovoltios de ENEL. Con potencial de desarrollo urbano aun por explotar.</p>


    <h2 style="text-align:center">Galer&iacutea</h2>

    <div class="container">
      <div class="mySlides">
        <div class="numbertext">1 / 9</div>
        <img src="/static/AI1/AI1d.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">2 / 9</div>
        <img src="/static/AI1/AI1a.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">3 / 9</div>
        <img src="/static/AI1/AI1b.jpg" style="width:100%">
      </div>
    
      <div class="mySlides">
        <div class="numbertext">4 / 9</div>
        <img src="/static/AI1/AI1c.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">5 / 9</div>
        <img src="/static/AI1/AI1e.jpg" style="width:100%">
      </div>
    
      <div class="mySlides">
        <div class="numbertext">6 / 9</div>
        <img src="/static/AI1/AI1f.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">7 / 9</div>
        <img src="/static/AI1/AI1g.jpg" style="width:100%">
      </div>
        
      <div class="mySlides">
        <div class="numbertext">8 / 9</div>
        <img src="/static/AI1/AI1h.jpg" style="width:100%">
      </div>
        
      <div class="mySlides">
        <div class="numbertext">9 / 9</div>
        <img src="/static/AI1/AI1i.jpg" style="width:100%">
      </div>
    
      <a class="prev" onclick="plusSlides(-1)">❮</a>
      <a class="next" onclick="plusSlides(1)">❯</a>

      <div class="caption-container">
       <p id="caption"></p>
      </div>

      <div class="row">
        <div class="column">
          <img class="demo cursor" src="/static/AI1/AI1d.jpg" style="width:100%" onclick="currentSlide(1)" alt="Panorámica desde carretera">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI1/AI1a.jpg" style="width:100%" onclick="currentSlide(2)" alt="Vista desde carretera">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI1/AI1b.jpg" style="width:100%" onclick="currentSlide(3)" alt="Vista desde carretera">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI1/AI1c.jpg" style="width:100%" onclick="currentSlide(4)" alt="Vista desde carretera">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI1/AI1e.jpg" style="width:100%" onclick="currentSlide(5)" alt="Panoramica desde acequia interna">
        </div>    
        <div class="column">
          <img class="demo cursor" src="/static/AI1/AI1f.jpg" style="width:100%" onclick="currentSlide(6)" alt="Vista desde acequia interna">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI1/AI1g.jpg" style="width:100%" onclick="currentSlide(7)" alt="Vista desde acequia interna">
        </div>          
        <div class="column">
          <img class="demo cursor" src="/static/AI1/AI1h.jpg" style="width:100%" onclick="currentSlide(7)" alt="Vista desde acequia interna">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI1/AI1i.jpg" style="width:100%" onclick="currentSlide(7)" alt="Cerca al puerto de Supe">
        </div>
      </div>
    </div>

        <h5>Ubicación</h5>
        <img src="/static/AI1u1.jpg" alt="Ubicación terreno" style="width:100%;">
        <h6></h6>
        <img src="/static/AI1/AI1u2.jpg" alt="Ubicación terreno" style="width:100%;">
        <p></p>
        
    <h5>Video</h5>       
    <video width="100%" height="auto" controls>
      <source src={{ url_for('static', filename="Video lote 3.mp4") }} type="video/mp4">
      Your browser does not support the video tag.
    </video>
 
        <h6></h6>        
        <input type="button" onclick="history.back()" name="volver al inicio" value="volver al inicio">


    <script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      var captionText = document.getElementById("caption");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
      captionText.innerHTML = dots[slideIndex-1].alt;
    }
    </script>

{% endblock %}

