{% extends "layout.html" %}

{% block title %}
    Melba Marazo
{% endblock %}


{% block main %}

        <div class="header">
            <h4>Melba Marazo  Agente Inmobiliario  996 348 766</h4><br>
        </div>

        <div class="flex-container">
          <div style="flex-grow: 4">Terrenos en condominio San Antonio de Pachacamac</div>
          <div style="flex-grow: 2"> 35500 a 36000 US$ </div>
          <div style="flex-grow: 1"> Venta lotes individuales </div>
          <div style="flex-grow: 1"> Con habilitación urbana completa </div>
          <div style="flex-grow: 2"> 90 a 91 m2</div>
        </div>

        <h3> </h3><h4>Lotes para la casa tranquila que soñaste</h4>
        <p>Terrenos en el condominio privado San Antonio de Pachacamac. Este condominio tiene una vista espectacular al valle de Pachacamac, en plena naturaleza , tranquilidad y seguridad.  Tienen una ubicación estratégica, fácil  acceso a los colegios, áreas verdes, canchas deportivas, gimnasios al aire libre; cuenta con pistas y veredas.</p>

    <h2 style="text-align:center">Galer&iacutea</h2>

    <div class="container">
      <div class="mySlides">
        <div class="numbertext">1 / 9</div>
        <img src="/static/AI10/AI10a.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">2 / 9</div>
        <img src="/static/AI10/AI10b.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">3 / 9</div>
        <img src="/static/AI10/AI10c.jpg" style="width:100%">
      </div>
 
      <div class="mySlides">
        <div class="numbertext">4 / 9</div>
        <img src="/static/AI10/AI10d.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">5 / 9</div>
        <img src="/static/AI10/AI10e.jpg" style="width:100%">
      </div>
 
      <div class="mySlides">
        <div class="numbertext">6 / 9</div>
        <img src="/static/AI10/AI10f.jpg" style="width:100%">
      </div>
     
      <div class="mySlides">
        <div class="numbertext">7 / 9</div>
        <img src="/static/AI10/AI10g.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">8 / 9</div>
        <img src="/static/AI10/AI10h.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">9 / 9</div>
        <img src="/static/AI10/AI10i.jpg" style="width:100%">
      </div>

        
      <a class="prev" onclick="plusSlides(-1)">❮</a>
      <a class="next" onclick="plusSlides(1)">❯</a>

      <div class="caption-container">
       <p id="caption"></p>
      </div>

      <div class="row">
        <div class="column">
          <img class="demo cursor" src="/static/AI10/AI10a.jpg" style="width:100%" onclick="currentSlide(1)" alt="Ingreso principal">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI10/AI10b.jpg" style="width:100%" onclick="currentSlide(2)" alt="Areas comunes">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI10/AI10c.jpg" style="width:100%" onclick="currentSlide(3)" alt="">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI10/AI10d.jpg" style="width:100%" onclick="currentSlide(4)" alt="">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI10/AI10e.jpg" style="width:100%" onclick="currentSlide(5)" alt="">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI10/AI10f.jpg" style="width:100%" onclick="currentSlide(6)" alt="">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI10/AI10g.jpg" style="width:100%" onclick="currentSlide(7)" alt="Casa modelo">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI10/AI10h.jpg" style="width:100%" onclick="currentSlide(8)" alt="">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI10/AI10i.jpg" style="width:100%" onclick="currentSlide(9)" alt="Vista panorámica">
        </div>

      </div>
    </div>

        <h5>Ubicación</h5>
        <img src="/static/AI10/AI10u1.jpg" alt="Ubicación terrenos" style="width:100%;">
        <input type="button" onclick="history.back()" name="volver al inicio" value="volver al inicio">


    <script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      var captionText = document.getElementById("caption");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
      captionText.innerHTML = dots[slideIndex-1].alt;
    }
    </script>

{% endblock %}

