{% extends "layout.html" %}

{% block title %}
    Melba Marazo
{% endblock %}


{% block main %}

        <div class="header">
            <h4>Melba Marazo  Agente Inmobiliario  996 348 766</h4><br>
        </div>

        <div class="flex-container">
          <div style="flex-grow: 4">Alquiler de Local Comercial Av. Alameda sec. 16 de Diciembre S.J.L.</div>
          <div style="flex-grow: 1"> Dos pisos </div>
          <div style="flex-grow: 2"> AT 90 m2, AC 180 m2</div>
          <div style="flex-grow: 1"> 4 Baños </div>
          <div style="flex-grow: 2"> 5 años antiguedad</div>
        </div>

        <h3> </h3><h4>El local en zona comercial que estabas esperando</h4>
        <p> Avenida Alameda -sector 16 de Diciembre -AAHH Integ.Solid.y Progreso, San Juan de Lurigancho, Lima</p>
        <p>El local se encuentra en la avenida Alameda, muy cerca a la av, El Muro , ideal para Mini Market, locales comerciales tales como Farmacias, Panaderias , etc. consta de 2 pisos</p>
        <p> 1er piso Tiene un area de 90m2 , frente de 6mt., laterales de 15mt.
puerta de seguridad de metal enrrollable a la calle, 2 baños (Damas y Caballeros)
una cocina amplia, corriente trifásica.</p>
        <p> 2do piso Tiene un Area de 90m2, 2 habitaciones, 2 baños ( Damas y caballeros) cuenta con ventana panorámica. Ideal para almacén.</p>
<p> Se alquila los 2 pisos a <del>S/.4,500</del> S/3,500 soles, o por separado.: 1er piso a S/.2,000 soles y el 2do piso a S/.1,500 soles. Agende su visita, no pierda esta oportunidad.</p>


    <h2 style="text-align:center">Galer&iacutea</h2>

    <div class="container">
      <div class="mySlides">
        <div class="numbertext">1 / 12</div>
        <img src="/static/AI11/AI11a.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">2 / 12</div>
        <img src="/static/AI11/AI11b.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">3 / 12</div>
        <img src="/static/AI11/AI11c.jpg" style="width:100%">
      </div>
    

      <div class="mySlides">
        <div class="numbertext">4 / 12</div>
        <img src="/static/AI11/AI11d.jpg" style="width:100%">
      </div>
    
      <div class="mySlides">
        <div class="numbertext">5 / 12</div>
        <img src="/static/AI11/AI11e.jpg" style="width:100%">
      </div>
    
      <div class="mySlides">
        <div class="numbertext">6 / 12</div>
        <img src="/static/AI11/AI11f.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">7 / 12</div>
        <img src="/static/AI11/AI11g.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">8 / 12</div>
        <img src="/static/AI11/AI11h.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">9 / 12</div>
        <img src="/static/AI11/AI11i.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">10 / 12</div>
        <img src="/static/AI11/AI11j.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">11 / 12</div>
        <img src="/static/AI11/AI11k.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">12 / 12</div>
        <img src="/static/AI11/AI11l.jpg" style="width:100%">
      </div>
    
        
      <a class="prev" onclick="plusSlides(-1)">❮</a>
      <a class="next" onclick="plusSlides(1)">❯</a>

      <div class="caption-container">
       <p id="caption"></p>
      </div>

      <div class="row">
        <div class="column">
          <img class="demo cursor" src="/static/AI11/AI11a.jpg" style="width:100%" onclick="currentSlide(1)" alt="Vista frontis desde la alameda">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI11/AI11b.jpg" style="width:100%" onclick="currentSlide(2)" alt="Vista de la alameda">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI11/AI11c.jpg" style="width:100%" onclick="currentSlide(3)" alt="Vista primer piso">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI11/AI11d.jpg" style="width:100%" onclick="currentSlide(4)" alt="Vista primer piso">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI11/AI11e.jpg" style="width:100%" onclick="currentSlide(5)" alt="Vista primer piso">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI11/AI11f.jpg" style="width:100%" onclick="currentSlide(6)" alt="Baños primer piso">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI11/AI11g.jpg" style="width:100%" onclick="currentSlide(6)" alt="Vista cocina">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI11/AI11h.jpg" style="width:100%" onclick="currentSlide(6)" alt="Vista segundo piso">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI11/AI11i.jpg" style="width:100%" onclick="currentSlide(6)" alt="Vista segundo piso">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI11/AI11j.jpg" style="width:100%" onclick="currentSlide(6)" alt="Vista segundo piso">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI11/AI11k.jpg" style="width:100%" onclick="currentSlide(6)" alt="Baños segundo piso">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI11/AI11l.jpg" style="width:100%" onclick="currentSlide(6)" alt="Baño Damas segundo piso">
        </div>
      </div>
    </div>

        <h5>Ubicación</h5>
        <img src="/static/AI11/AI11u1.jpg" alt="Ubicación" style="width:100%;">
        <p></p>
        
   
        <input type="button" onclick="history.back()" name="volver al inicio" value="volver al inicio">


    <script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      var captionText = document.getElementById("caption");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
      captionText.innerHTML = dots[slideIndex-1].alt;
    }
    </script>

{% endblock %}

