{% extends "layout.html" %}

{% block title %}
    Melba Marazo
{% endblock %}


{% block main %}

        <div class="header">
            <h4>Melba Marazo  Agente Inmobiliario  996 348 766</h4><br>
        </div>

        <div class="flex-container">
          <div style="flex-grow: 4"> Venta de ocho departamentos en el centro de Barranca</div>
          <div style="flex-grow: 1"> 2 departamentos por piso </div>
          <div style="flex-grow: 2"> AT 50 m2 </div>
          <div style="flex-grow: 1"> 1 Baño </div>
          <div style="flex-grow: 2"> 15 años antiguedad</div>
        </div>

        <h3> </h3><h4>Departamentos cerca al MegaPlaza Barranca y a la Plaza de Armas</h4>
        <p> Se vende departamentos en la mejor zona de Barranca, con una buena ubicación, a media cuadra del centro comercial y muy cerca a la Plaza de Armas</p>
        <p> Con 4 departamentos con 2 dormitorios, sala-comedor, cocina abierta, lavandería, 1 baño</p>
        <p> y 4 departamentos con 1 dormitorio, sala-comedor, cocina abierta, 1 baño</p>
        <p> Cada piso cuenta con dos departamentos, uno con vista a la calle y otro con vista interna. Los dos departamentos del 1er piso tienen patio interno. Los deprtamentos cuentan con piso cerámico, pintado y todas sus puertas</p>
<p> La documentación se encuentra en regla y están inscritos en Registros Públicos. A US$67000. Agende su visita, no pierda esta oportunidad.</p>


    <h2 style="text-align:center">Galer&iacutea</h2>

    <div class="container">
      <div class="mySlides">
        <div class="numbertext">1 / 9</div>
        <img src="/static/AI11/AI11a.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">2 / 9</div>
        <img src="/static/AI11/AI11b.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">3 / 9</div>
        <img src="/static/AI11/AI11c.jpg" style="width:100%">
      </div>
    

      <div class="mySlides">
        <div class="numbertext">4 / 9</div>
        <img src="/static/AI11/AI11d.jpg" style="width:100%">
      </div>
    
      <div class="mySlides">
        <div class="numbertext">5 / 9</div>
        <img src="/static/AI11/AI11e.jpg" style="width:100%">
      </div>
    
      <div class="mySlides">
        <div class="numbertext">6 / 9</div>
        <img src="/static/AI11/AI11f.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">7 / 9</div>
        <img src="/static/AI11/AI11g.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">8 / 9</div>
        <img src="/static/AI11/AI11h.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">9 / 9</div>
        <img src="/static/AI11/AI11i.jpg" style="width:100%">
      </div>


    
        
      <a class="prev" onclick="plusSlides(-1)">❮</a>
      <a class="next" onclick="plusSlides(1)">❯</a>

      <div class="caption-container">
       <p id="caption"></p>
      </div>

      <div class="row">
        <div class="column">
          <img class="demo cursor" src="/static/AI11/AI11a.jpg" style="width:100%" onclick="currentSlide(1)" alt="">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI11/AI11b.jpg" style="width:100%" onclick="currentSlide(2)" alt="">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI11/AI11c.jpg" style="width:100%" onclick="currentSlide(3)" alt="">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI11/AI11d.jpg" style="width:100%" onclick="currentSlide(4)" alt="">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI11/AI11e.jpg" style="width:100%" onclick="currentSlide(5)" alt="">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI11/AI11f.jpg" style="width:100%" onclick="currentSlide(6)" alt="">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI11/AI11g.jpg" style="width:100%" onclick="currentSlide(7)" alt="">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI11/AI11h.jpg" style="width:100%" onclick="currentSlide(8)" alt="">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI11/AI11i.jpg" style="width:100%" onclick="currentSlide(9)" alt="">
        </div>
      </div>
    </div>

        <h5>Ubicación</h5>
        <img src="/static/AI11/AI11u1.jpg" alt="Ubicación" style="width:100%;">
        <p></p>
        
   
        <input type="button" onclick="history.back()" name="volver al inicio" value="volver al inicio">


    <script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      var captionText = document.getElementById("caption");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
      captionText.innerHTML = dots[slideIndex-1].alt;
    }
    </script>

{% endblock %}

