{% extends "layout.html" %}

{% block title %}
    Melba Marazo
{% endblock %}


{% block main %}

        <div class="header">
            <h4>Melba Marazo  Agente Inmobiliario  996 348 766</h4><br>
        </div>

        <div class="flex-container">
          <div style="flex-grow: 4">Venta de local para eventos, edificaciones, almacenes</div>
          <div style="flex-grow: 2"> Dos pisos más azotea</div>
          <div style="flex-grow: 2"> AT 1685.55 m2, AC 250 m2</div>
          <div style="flex-grow: 1"> 6 Baños </div>
          <div style="flex-grow: 2"> 4 habitaciones</div>
        </div>

        <h3> </h3><h4>El local ideal para tu proyecto soñado</h4>
        <p> El local está ubicado en la mejor zona de Barranca, en la Urb.virgen de Chapi, al costado del complejo deportivo de Lauriama, a 5 minutos</p>
        <p> de la Panamericana Norte, a 10 minutos de la Plaza de Armas de Barranca y de los centros comerciales; con excelente clima todo el año</p>
        <p> Ideal para eventos deportivos, recepciones, o proyectos de edificación o administrativos</p>
        <p> Precio US$450 dólares/m2; US$758,000, precio a tratar. Agende su visita, no pierda esta oportunidad.</p>


    <h2 style="text-align:center">Galer&iacutea</h2>

    <div class="container">
      <div class="mySlides">
        <div class="numbertext">1 / 14</div>
        <img src="/static/AI13/AI13a.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">2 / 14</div>
        <img src="/static/AI13/AI13b.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">3 / 14</div>
        <img src="/static/AI13/AI13c.jpg" style="width:100%">
      </div>
    
      <div class="mySlides">
        <div class="numbertext">4 / 14</div>
        <img src="/static/AI13/AI13d.jpg" style="width:100%">
      </div>
    
      <div class="mySlides">
        <div class="numbertext">5 / 14</div>
        <img src="/static/AI13/AI13e.jpg" style="width:100%">
      </div>
    
      <div class="mySlides">
        <div class="numbertext">6 / 14</div>
        <img src="/static/AI13/AI13f.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">7 / 14</div>
        <img src="/static/AI13/AI13g.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">8 / 14</div>
        <img src="/static/AI13/AI13h.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">9 / 14</div>
        <img src="/static/AI13/AI13i.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">10 / 14</div>
        <img src="/static/AI13/AI13j.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">11 / 14</div>
        <img src="/static/AI13/AI13k.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">12 / 14</div>
        <img src="/static/AI13/AI13l.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">13 / 14</div>
        <img src="/static/AI13/AI13m.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">14 / 14</div>
        <img src="/static/AI13/AI13n.jpg" style="width:100%">
      </div>


    
        
      <a class="prev" onclick="plusSlides(-1)">❮</a>
      <a class="next" onclick="plusSlides(1)">❯</a>

      <div class="caption-container">
       <p id="caption"></p>
      </div>

      <div class="row">
        <div class="column">
          <img class="demo cursor" src="/static/AI13/AI13a.jpg" style="width:100%" onclick="currentSlide(1)" alt="">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI13/AI13b.jpg" style="width:100%" onclick="currentSlide(2)" alt="">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI13/AI13c.jpg" style="width:100%" onclick="currentSlide(3)" alt="">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI13/AI13d.jpg" style="width:100%" onclick="currentSlide(4)" alt="">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI13/AI13e.jpg" style="width:100%" onclick="currentSlide(5)" alt="">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI13/AI13f.jpg" style="width:100%" onclick="currentSlide(6)" alt="">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI13/AI13g.jpg" style="width:100%" onclick="currentSlide(6)" alt="">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI13/AI13h.jpg" style="width:100%" onclick="currentSlide(6)" alt="">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI13/AI13i.jpg" style="width:100%" onclick="currentSlide(6)" alt="">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI13/AI13j.jpg" style="width:100%" onclick="currentSlide(6)" alt="">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI13/AI13k.jpg" style="width:100%" onclick="currentSlide(6)" alt="">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI13/AI13l.jpg" style="width:100%" onclick="currentSlide(6)" alt="">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI13/AI13m.jpg" style="width:100%" onclick="currentSlide(6)" alt="">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI13/AI13n.jpg" style="width:100%" onclick="currentSlide(6)" alt="">
        </div>
      </div>
    </div>

        <h5>Ubicación</h5>
        <img src="/static/AI4u1.jpg" alt="Ubicación local" style="width:100%;">
        <h6></h6>
        <img src="/static/AI13u2.jpg" alt="Ubicación" style="width:100%;">
        <h6></h6>
        <img src="/static/AI13/AI13u3.jpg" alt="Ubicación" style="width:100%;">
        <p></p>
        
   
        <input type="button" onclick="history.back()" name="volver al inicio" value="volver al inicio">


    <script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      var captionText = document.getElementById("caption");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
      captionText.innerHTML = dots[slideIndex-1].alt;
    }
    </script>

{% endblock %}

