{% extends "layout.html" %}

{% block title %}
    Melba Marazo
{% endblock %}


{% block main %}

        <div class="header">
            <h4>Melba Marazo  Agente Inmobiliario  996 348 766</h4><br>
        </div>

        <div class="flex-container">
          <div style="flex-grow: 4">Terrenos Barranca Manzana B Virgen de Chapi</div>
          <div style="flex-grow: 1"> 160 US$/m2 </div>
          <div style="flex-grow: 2"> Venta lotes individuales o total </div>
          <div style="flex-grow: 2"> Zona urbana consolidada </div>
          <div style="flex-grow: 2"> 140 m2</div>
        </div>

        <h3> </h3><h4>Lotes para la casa que soñaste</h4>
        <p>Manzana B lotes 17, 18, 19 y 20</p>
        <p>Los lotes se encuentran en una zona urbana consolidada, a 7 minutos de la Plaza de Armas y de MegaPlaza Barranca, a un kilómetro de la salida a la Panamericana Norte. La zona tiene servicios cercanos de restaurantes, boticas, hoteles, minimarkets, tiendas y grifos. A 10 minutos de la Plaza de Armas y a los centros comerciales; a 10 minutos de las hermosas playas de Barranca. La zona dispone de redes de Baja Tensión y Alumbrado Público.</p>
        <p>Documentos en regla e inscritos en RRPP</p>

    <h2 style="text-align:center">Galer&iacutea</h2>

    <div class="container">
      <div class="mySlides">
        <div class="numbertext">1 / 6</div>
        <img src="/static/AI14/AI14a.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">2 / 6</div>
        <img src="/static/AI14/AI14b.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">3 / 6</div>
        <img src="/static/AI14/AI14c.jpg" style="width:100%">
      </div>
  
      <div class="mySlides">
        <div class="numbertext">4 / 6</div>
        <img src="/static/AI14/AI14d.jpg" style="width:100%">
      </div>
  
      <div class="mySlides">
        <div class="numbertext">5 / 6</div>
        <img src="/static/AI14/AI14e.jpg" style="width:100%">
      </div>
   
      <div class="mySlides">
        <div class="numbertext">6 / 6</div>
        <img src="/static/AI14/AI14f.jpg" style="width:100%">
      </div>
     

        
      <a class="prev" onclick="plusSlides(-1)">❮</a>
      <a class="next" onclick="plusSlides(1)">❯</a>

      <div class="caption-container">
       <p id="caption"></p>
      </div>

      <div class="row">
        <div class="column">
          <img class="demo cursor" src="/static/AI14/AI14a.jpg" style="width:100%" onclick="currentSlide(1)" alt="Vista lotes 19 y 20 desde calle Tiabaya">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI14/AI14b.jpg" style="width:100%" onclick="currentSlide(2)" alt="Vista lotes 18 y 19 desde calle Tiabaya">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI14/AI14c.jpg" style="width:100%" onclick="currentSlide(3)" alt="Vista lote 20 desde calle Tiabaya">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI14/AI14d.jpg" style="width:100%" onclick="currentSlide(4)" alt="Vista lotes 17, 18 y 19 desde calle Tiabaya">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI14/AI14e.jpg" style="width:100%" onclick="currentSlide(5)" alt="Cerca a la Plaza de Armas">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI14/AI14f.jpg" style="width:100%" onclick="currentSlide(6)" alt="Cerca al Megaplaza">
        </div>
      </div>
    </div>

        <h5>Ubicación</h5>
        <img src="/static/AI4u1.jpg" alt="Ubicación terrenos" style="width:100%;">
        <h6></h6>
        <img src="/static/AI4u2.jpg" alt="Ubicación terrenos" style="width:100%;">
        <h6></h6>
        <img src="/static/AI14/AI14u3.jpg" alt="Ubicación terrenos" style="width:100%;">
        <p></p>
        
    
        <h3> </h3><h3>Desarrollo</h3>
        <p>Los lotes se encuentran en una zona urbana consolidada con tendencia a la saturaci&oacuten</p>
        <p>En el gr&aacutefico se aprecia la evoluci&oacuten del desarrollo urbano de la zona</p>
        <p>En base a esto, si se est&aacute evaluando efectuar una inversi&oacuten en terrenos, nuestra recomendaci&oacuten es hacerla ahora</p>
        <img src="/static/ComparacionBarranca.jpg" alt="Evolución urbana" style="width:100%;"> 
        <h6></h6>        
        <input type="button" onclick="history.back()" name="volver al inicio" value="volver al inicio">


    <script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      var captionText = document.getElementById("caption");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
      captionText.innerHTML = dots[slideIndex-1].alt;
    }
    </script>

{% endblock %}

