{% extends "layout.html" %}

{% block title %}
    Melba Marazo
{% endblock %}


{% block main %}

        <div class="header">
            <h4>Melba Marazo  Agente Inmobiliario  996 348 766</h4><br>
        </div>

        <div class="flex-container">
          <div style="flex-grow: 4">Terrenos Brisas de Barranca</div>
          <div style="flex-grow: 2"> S/56000 a S/78000 </div>
          <div style="flex-grow: 2"> Venta lotes individuales </div>
          <div style="flex-grow: 2"> Habilitación urbana completa </div>
          <div style="flex-grow: 2"> 90 a 145 m2</div>
        </div>

        <h3> </h3><h4>Lotes consolidados en la zona más tranquila y segura de Barranca</h4>
        <p>Manzana F, G, W, Z</p>
        <p>Lotes de  terreno en los Portales de Brisas de Barranca, al pie de la Panamericana Antigua y muy cerca de la universidad de Barranca, a pocos minutos del centro de la ciudad y de los centros comerciales.</p>
        <p>Cuenta con documentos en regla e inscritos en RRPP. Con habilitación urbana completa, veredas, postes, pistas y parques. Con todos los servicios de luz, agua y desagüe</p>

    <h2 style="text-align:center">Galer&iacutea</h2>

    <div class="container">
      <div class="mySlides">
        <div class="numbertext">1 / 13</div>
        <img src="/static/AI16/AI16a.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">2 / 13</div>
        <img src="/static/AI16/AI16b.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">3 / 13</div>
        <img src="/static/AI16/AI16c.jpg" style="width:100%">
      </div>
    

      <div class="mySlides">
        <div class="numbertext">4 / 13</div>
        <img src="/static/AI16/AI16d.jpg" style="width:100%">
      </div>
    
      <div class="mySlides">
        <div class="numbertext">5 / 13</div>
        <img src="/static/AI16/AI16e.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">6 / 13</div>
        <img src="/static/AI16/AI16f.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">7 / 13</div>
        <img src="/static/AI16/AI16g.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">8 / 13</div>
        <img src="/static/AI16/AI16h.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">9 / 13</div>
        <img src="/static/AI16/AI16i.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">10 / 13</div>
        <img src="/static/AI16/AI16j.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">11 / 13</div>
        <img src="/static/AI16/AI16k.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">12 / 13</div>
        <img src="/static/AI16/AI16m.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">13 / 13</div>
        <img src="/static/AI16/AI16n.jpg" style="width:100%">
      </div>

        
      <a class="prev" onclick="plusSlides(-1)">❮</a>
      <a class="next" onclick="plusSlides(1)">❯</a>

      <div class="caption-container">
       <p id="caption"></p>
      </div>

      <div class="row">
        <div class="column">
          <img class="demo cursor" src="/static/AI16/AI16a.jpg" style="width:100%" onclick="currentSlide(1)" alt="Ingreso a la urbanización">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI16/AI16b.jpg" style="width:100%" onclick="currentSlide(2)" alt="Vista hacia lote 19 Mz G">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI16/AI16c.jpg" style="width:100%" onclick="currentSlide(3)" alt="Vista hacia lote 19 Mz G">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI16/AI16d.jpg" style="width:100%" onclick="currentSlide(4)" alt="Vista lote 19 Mz G">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI16/AI16e.jpg" style="width:100%" onclick="currentSlide(5)" alt="Vista lote 28 Mz W">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI16/AI16f.jpg" style="width:100%" onclick="currentSlide(6)" alt="Vista lote 28 Mz W">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI16/AI16g.jpg" style="width:100%" onclick="currentSlide(7)" alt="Vista lote 93 Mz F">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI16/AI16h.jpg" style="width:100%" onclick="currentSlide(8)" alt="Vista lote 93 Mz F">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI16/AI16i.jpg" style="width:100%" onclick="currentSlide(9)" alt="Vista a parque desde el lote 93 Mz F">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI16/AI16j.jpg" style="width:100%" onclick="currentSlide(10)" alt="Vista frontis lote 18 Mz Z">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI16/AI16k.jpg" style="width:100%" onclick="currentSlide(11)" alt="Vista lotes 18 Mz Z hacia la Av A">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI16/AI16m.jpg" style="width:100%" onclick="currentSlide(12)" alt="Vista lotes 18 Mz Z hacia calle Miguel Grau">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI16/AI16n.jpg" style="width:100%" onclick="currentSlide(13)" alt="Vista lote 18 Mz Z hacia losa deportiva">
        </div>



      </div>
    </div>

        <h5>Ubicación</h5>
        <img src="/static/AI16/AI16u1.jpg" alt="Ubicación terrenos" style="width:100%;">
        <p></p>
        
    
        <input type="button" onclick="history.back()" name="volver al inicio" value="volver al inicio">


    <script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      var captionText = document.getElementById("caption");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
      captionText.innerHTML = dots[slideIndex-1].alt;
    }
    </script>

{% endblock %}

