{% extends "layout.html" %}

{% block title %}
    Melba Marazo
{% endblock %}


{% block main %}

        <div class="header">
            <h4>Melba Marazo  Agente Inmobiliario  996 348 766</h4><br>
        </div>

        <div class="flex-container">
          <div style="flex-grow: 4">Alquiler oficina Surquillo Urb. Aurora</div>
          <div style="flex-grow: 1"> S/3000 mes </div>
          <div style="flex-grow: 2"> Cerca a Av. Tomás Marsano </div>
          <div style="flex-grow: 2"> Seis ambientes, dos baños </div>
          <div style="flex-grow: 1"> 139 m2</div>
        </div>

        <h3> </h3><h4>Oficina cerca a centros comerciales electroferreteros</h4>
        <p>Se alquila para oficina, consultorio o vivienda, cerca a la Av. Tomás Marsano</p>
        <p>SI ESTAS BUSCANDO UNA OFICINA, ESTA ES TU OPORTUNIDAD. Cuenta con 6 ambientes, 1 sala de recepción, 2 baños completos, área de kitchenette. A dos cuadras de la Av. Tomás Marsano y de los cc electroferreteros Marsano Center y Marsano Home Center.</p>
        <p>La oficina está en el 3er piso y 4to piso; en el segundo piso cuenta con un ambiente que puede servir como recepción. Cuenta con medidor de luz independiente y con contómetro de agua.</p>

    <h2 style="text-align:center">Galer&iacutea</h2>

    <div class="container">
      <div class="mySlides">
        <div class="numbertext">1 / 12</div>
        <img src="/static/AI17/AI17a.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">2 / 12</div>
        <img src="/static/AI17/AI17b.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">3 / 12</div>
        <img src="/static/AI17/AI17c.jpg" style="width:100%">
      </div>
    

      <div class="mySlides">
        <div class="numbertext">4 / 12</div>
        <img src="/static/AI17/AI17d.jpg" style="width:100%">
      </div>


      <div class="mySlides">
        <div class="numbertext">5 / 12</div>
        <img src="/static/AI17/AI17e.jpg" style="width:100%">
      </div>


      <div class="mySlides">
        <div class="numbertext">6 / 12</div>
        <img src="/static/AI17/AI17f.jpg" style="width:100%">
      </div>


      <div class="mySlides">
        <div class="numbertext">7 / 12</div>
        <img src="/static/AI17/AI17g.jpg" style="width:100%">
      </div>


      <div class="mySlides">
        <div class="numbertext">8 / 12</div>
        <img src="/static/AI17/AI17h.jpg" style="width:100%">
      </div>


      <div class="mySlides">
        <div class="numbertext">9 / 12</div>
        <img src="/static/AI17/AI17i.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">10 / 12</div>
        <img src="/static/AI17/AI17j.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">11 / 12</div>
        <img src="/static/AI17/AI17k.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">12 / 12</div>
        <img src="/static/AI17/AI17m.jpg" style="width:100%">
      </div>

        
      <a class="prev" onclick="plusSlides(-1)">❮</a>
      <a class="next" onclick="plusSlides(1)">❯</a>

      <div class="caption-container">
       <p id="caption"></p>
      </div>

      <div class="row">
        <div class="column">
          <img class="demo cursor" src="/static/AI17/AI17a.jpg" style="width:100%" onclick="currentSlide(1)" alt="Vista exteriores">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI17/AI17b.jpg" style="width:100%" onclick="currentSlide(2)" alt="Vista exteriores">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI17/AI17c.jpg" style="width:100%" onclick="currentSlide(3)" alt="Hall oficina 3er piso">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI17/AI17d.jpg" style="width:100%" onclick="currentSlide(4)" alt="Hall oficina 3er piso">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI17/AI17e.jpg" style="width:100%" onclick="currentSlide(5)" alt="Vista esde la escalera de ingreso">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI17/AI17f.jpg" style="width:100%" onclick="currentSlide(6)" alt="Ambiente oficina 3er piso">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI17/AI17g.jpg" style="width:100%" onclick="currentSlide(7)" alt="Ambiente oficina 4to piso">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI17/AI17h.jpg" style="width:100%" onclick="currentSlide(8)" alt="Ambiente recibidor en 2do piso">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI17/AI17i.jpg" style="width:100%" onclick="currentSlide(9)" alt="Kitchenette">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI17/AI17j.jpg" style="width:100%" onclick="currentSlide(10)" alt="Baño 3er piso">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI17/AI17k.jpg" style="width:100%" onclick="currentSlide(11)" alt="Escalera de acceso">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI17/AI17m.jpg" style="width:100%" onclick="currentSlide(12)" alt="Parque anexo">
        </div>


      </div>
    </div>

        <h5>Ubicación</h5>
         <img src="/static/AI17/AI17u1.jpg" alt="Ubicación" style="width:100%;">
        <p></p>
        
   
      
        <input type="button" onclick="history.back()" name="volver al inicio" value="volver al inicio">


    <script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      var captionText = document.getElementById("caption");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
      captionText.innerHTML = dots[slideIndex-1].alt;
    }
    </script>

{% endblock %}

