{% extends "layout.html" %}

{% block title %}
    Melba Marazo
{% endblock %}


{% block main %}

        <div class="header">
            <h4>Melba Marazo  Agente Inmobiliario  996 348 766</h4><br>
        </div>

        <div class="flex-container">
          <div style="flex-grow: 4">Amplia casa en zona céntrica de San Miguel</div>
          <div style="flex-grow: 1"> $250,000 </div>
          <div style="flex-grow: 2"> Tres pisos </div>
          <div style="flex-grow: 2"> Con local comercial </div>
          <div style="flex-grow: 1"> 162 m2</div>
        </div>

        <h3> </h3><h4>Oportunidad venta amplia casa San Miguel</h4>
        <p>Jr Libertad, Urb. Maranga 1ra Etapa, San Miguel</p>
        <p>Casa con local comercial , muy cerca a colegios , farmacias, centro de salud, serenazgo, parques, cerca al mar donde podrás disfrutar todo el año.
Se encuentra cerca a las avenidas principales como la Av.La Paz y la Av. Rafael Escardo. Cuenta con todos los servicios públicos y privados: luz, agua internet, cable.</p>
        <p>En el 1er piso tiene contruido 63.20 m2, tiene sala comedor, cocina, patio interno, 1 baño, baño de visita, un local comercial. En el 2do piso tiene contruido 64.75 m2, 4 cuartos y 2 baños. En el 3er piso tiene contruido 34.16 m2, 1 cuarto, 1 baño, 1 cocina y 1 patio pequeño. Tiene partida e inscrito en registros publicos</p>

    <h2 style="text-align:center">Galer&iacutea</h2>

    <div class="container">
      <div class="mySlides">
        <div class="numbertext">1 / 11</div>
        <img src="/static/AI19/AI19a.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">2 / 11</div>
        <img src="/static/AI19/AI19b.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">3 / 11</div>
        <img src="/static/AI19/AI19c.jpg" style="width:100%">
      </div>
    

      <div class="mySlides">
        <div class="numbertext">4 / 11</div>
        <img src="/static/AI19/AI19d.jpg" style="width:100%">
      </div>


      <div class="mySlides">
        <div class="numbertext">5 / 11</div>
        <img src="/static/AI19/AI19e.jpg" style="width:100%">
      </div>


      <div class="mySlides">
        <div class="numbertext">6 / 11</div>
        <img src="/static/AI19/AI19f.jpg" style="width:100%">
      </div>


      <div class="mySlides">
        <div class="numbertext">7 / 11</div>
        <img src="/static/AI19/AI19g.jpg" style="width:100%">
      </div>


      <div class="mySlides">
        <div class="numbertext">8 / 11</div>
        <img src="/static/AI19/AI19h.jpg" style="width:100%">
      </div>


      <div class="mySlides">
        <div class="numbertext">9 / 11</div>
        <img src="/static/AI19/AI19i.jpg" style="width:100%">
      </div>


      <div class="mySlides">
        <div class="numbertext">10 / 11</div>
        <img src="/static/AI19/AI19j.jpg" style="width:100%">
      </div>


      <div class="mySlides">
        <div class="numbertext">11 / 11</div>
        <img src="/static/AI19/AI19k.jpg" style="width:100%">
      </div>

        
      <a class="prev" onclick="plusSlides(-1)">❮</a>
      <a class="next" onclick="plusSlides(1)">❯</a>

      <div class="caption-container">
       <p id="caption"></p>
      </div>

      <div class="row">
        <div class="column">
          <img class="demo cursor" src="/static/AI19/AI19a.jpg" style="width:100%" onclick="currentSlide(1)" alt="Frontis">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI19/AI19b.jpg" style="width:100%" onclick="currentSlide(2)" alt="Vista interna local comercial">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI19/AI19c.jpg" style="width:100%" onclick="currentSlide(3)" alt="Sala">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI19/AI19d.jpg" style="width:100%" onclick="currentSlide(4)" alt="Comedor">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI19/AI19e.jpg" style="width:100%" onclick="currentSlide(5)" alt="Sala comedor">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI19/AI19f.jpg" style="width:100%" onclick="currentSlide(6)" alt="Cocina">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI19/AI19g.jpg" style="width:100%" onclick="currentSlide(7)" alt="Vista interna">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI19/AI19h.jpg" style="width:100%" onclick="currentSlide(8)" alt="Pasadizo del segundo piso">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI19/AI19i.jpg" style="width:100%" onclick="currentSlide(9)" alt="Escalera al tercer piso">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI19/AI19j.jpg" style="width:100%" onclick="currentSlide(10)" alt="Vista Jr. Libertad">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI19/AI19k.jpg" style="width:100%" onclick="currentSlide(11)" alt="Parque a la espalda">
        </div>



      </div>
    </div>

        <h5>Ubicación</h5>
         <img src="/static/AI19/AI19u1.jpg" alt="Ubicación" style="width:100%;">
        <p></p>
        
   
      
        <input type="button" onclick="history.back()" name="volver al inicio" value="volver al inicio">


    <script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      var captionText = document.getElementById("caption");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
      captionText.innerHTML = dots[slideIndex-1].alt;
    }
    </script>

{% endblock %}

