{% extends "layout.html" %}

{% block title %}
    Melba Marazo
{% endblock %}


{% block main %}

        <div class="header">
            <h4>Melba Marazo  Agente Inmobiliario  996 348 766</h4><br>
        </div>

        <div class="flex-container">
          <div style="flex-grow: 4"> Venta de 4 departamentos en planos en Urb. Higuereta, Surco</div>
          <div style="flex-grow: 1"> 2 flats </div>
          <div style="flex-grow: 2"> 2 duplex </div>
          <div style="flex-grow: 1"> Flat 108 m2 </div>
          <div style="flex-grow: 2"> Duplex 139 m2</div>
        </div>

        <h3> </h3><h4>Venta 2 flats y 2 duplex Urb. Higuereta, Surco</h4>
        <p> Venta de 4 departamentos multifamiliares en planos, con una excelente ubicación, frente a un parque, a 5 minutos del óvalo Higuereta, cerca de avenidas principales como Benavides, Pedro Venturo, Velasco Astete, Caminos del Inca. A pocos minutos de Barranco y Miraflores.</p>
        <p> Flat: 3 dormitorios, 2 baños completos mas baño dde visita, salad de estar, sala comedor, cocina abierta, balcón, ascensor directo, instalación de gas. Incluye dos estacionamientos lineales</p>
        <p> Duplex: 1er piso: 3 dormitorios, 2 baños completos, baño de visita,sala de star, sala comedor, cocina abierta, balcón, ascensor directo, instalación a gas. 2do piso: zona de lavandería, cuarto y baño de servicio, zona de parrilla, un medio baño. Incluye dos estacionamientos y un depósito</p>
        <´p> El edificio multifamiliar está en su etapa final de construcción </p>
         <p>Entrega Marzo 2023</p>


    <h2 style="text-align:center">Galer&iacutea</h2>

    <div class="container">
      <div class="mySlides">
        <div class="numbertext">1 / 9</div>
        <img src="/static/AI22/AI22a.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">2 / 9</div>
        <img src="/static/AI22/AI22b.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">3 / 9</div>
        <img src="/static/AI22/AI22c.jpg" style="width:100%">
      </div>
    

      <div class="mySlides">
        <div class="numbertext">4 / 9</div>
        <img src="/static/AI22/AI22d.jpg" style="width:100%">
      </div>
    
      <div class="mySlides">
        <div class="numbertext">5 / 9</div>
        <img src="/static/AI22/AI22e.jpg" style="width:100%">
      </div>
    
      <div class="mySlides">
        <div class="numbertext">6 / 9</div>
        <img src="/static/AI22/AI22f.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">7 / 9</div>
        <img src="/static/AI22/AI22g.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">8 / 9</div>
        <img src="/static/AI22/AI22h.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">9 / 9</div>
        <img src="/static/AI22/AI22i.jpg" style="width:100%">
      </div>


    
        
      <a class="prev" onclick="plusSlides(-1)">❮</a>
      <a class="next" onclick="plusSlides(1)">❯</a>

      <div class="caption-container">
       <p id="caption"></p>
      </div>

      <div class="row">
        <div class="column">
          <img class="demo cursor" src="/static/AI22/AI22a.jpg" style="width:100%" onclick="currentSlide(1)" alt="Proyecto">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI22/AI22b.jpg" style="width:100%" onclick="currentSlide(2)" alt="Sala comedor">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI22/AI22c.jpg" style="width:100%" onclick="currentSlide(3)" alt="Cocina">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI22/AI22d.jpg" style="width:100%" onclick="currentSlide(4)" alt="Terminando construcción">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI22/AI22e.jpg" style="width:100%" onclick="currentSlide(5)" alt="En construcción">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI22/AI22f.jpg" style="width:100%" onclick="currentSlide(6)" alt="Parques">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI22/AI22g.jpg" style="width:100%" onclick="currentSlide(7)" alt="Alrededores">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI22/AI22h.jpg" style="width:100%" onclick="currentSlide(8)" alt="Alrededores">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI22/AI22i.jpg" style="width:100%" onclick="currentSlide(9)" alt="Alrededores">
        </div>
      </div>
    </div>

        <h5>Ubicación</h5>
        <img src="/static/AI22/AI22u1.jpg" alt="Ubicación" style="width:100%;">
        <p></p>
        
   
        <input type="button" onclick="history.back()" name="volver al inicio" value="volver al inicio">


    <script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      var captionText = document.getElementById("caption");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
      captionText.innerHTML = dots[slideIndex-1].alt;
    }
    </script>

{% endblock %}

