{% extends "layout.html" %}

{% block title %}
    Agente Inmobiliario en Lima - Venda, compre o alquile su casa o propiedad
{% endblock %}


{% block main %}

        <div class="header">
            <h4>Melba Marazo  Agente Inmobiliario en Lima  996 348 766</h4><br>
        </div>

        <div class="flex-container">
          <div style="flex-grow: 4">Terreno perfecto en condominio Los Pecanos, Huaral</div>
          <div style="flex-grow: 2">US$ 75 000</div>
          <div style="flex-grow: 1">1000 m2</div>
          <div style="flex-grow: 1">Independizado</div>
          <div style="flex-grow: 2">Vigilancia 24/7</div>
        </div>

        <h3> </h3><h4>Aire puro, tranquilidad y buen clima en terreno en conominio, Huando</h4>
        <p>Terreno listo para construir una casa de campo y disfrutar de calma, tranquilidad y buen clima todo el año, con total seguridad pues</p>
	<p>el condominio tiene un cerco perimétrico completo y guardianía 24/7</p>
        <p>La documentación se encuentra en regla e inscrita en registros públicos, lista para ser transferida</p>


    <h2 style="text-align:center">Galer&iacutea</h2>

    <div class="container">
      <div class="mySlides">
        <div class="numbertext">1 / 12</div>
        <img src="/static/AI3/AI3b.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">2 / 12</div>
        <img src="/static/AI3/AI3c.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">3 / 12</div>
        <img src="/static/AI3/AI3d.jpg" style="width:100%">
      </div>
    
      <div class="mySlides">
        <div class="numbertext">4 / 12</div>
        <img src="/static/AI3/AI3e.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">5 / 12</div>
        <img src="/static/AI3/AI3f.jpg" style="width:100%">
      </div>
    
      <div class="mySlides">
        <div class="numbertext">6 / 12</div>
        <img src="/static/AI3/AI3g.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">7 / 12</div>
        <img src="/static/AI3/AI3h.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">8 / 12</div>
        <img src="/static/AI3/AI3i.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">9 / 12</div>
        <img src="/static/AI3/AI3j.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">10 / 12</div>
        <img src="/static/AI3/AI3k.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">11 / 12</div>
        <img src="/static/AI3/AI3m.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">12 / 12</div>
        <img src="/static/AI3/AI3n.jpg" style="width:100%">
      </div>
    
      <a class="prev" onclick="plusSlides(-1)">❮</a>
      <a class="next" onclick="plusSlides(1)">❯</a>

      <div class="caption-container">
       <p id="caption"></p>
      </div>

      <div class="row">
        <div class="column">
          <img class="demo cursor" src="/static/AI3/AI3b.jpg" style="width:100%" onclick="currentSlide(1)" alt="Área libre">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI3/AI3c.jpg" style="width:100%" onclick="currentSlide(2)" alt="Cancha de básquet">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI3/AI3d.jpg" style="width:100%" onclick="currentSlide(3)" alt="Entrada interior">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI3/AI3e.jpg" style="width:100%" onclick="currentSlide(4)" alt="Portón de ingreso">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI3/AI3f.jpg" style="width:100%" onclick="currentSlide(5)" alt="Cancha de fulbito">
        </div>    
        <div class="column">
          <img class="demo cursor" src="/static/AI3/AI3g.jpg" style="width:100%" onclick="currentSlide(6)" alt="Piscina">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI3/AI3h.jpg" style="width:100%" onclick="currentSlide(7)" alt="Zona de parrilla">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI3/AI3i.jpg" style="width:100%" onclick="currentSlide(8)" alt="Vista entrada al terreno">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI3/AI3j.jpg" style="width:100%" onclick="currentSlide(9)" alt="Terreno vecino">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI3/AI3k.jpg" style="width:100%" onclick="currentSlide(10)" alt="Cancha de básquet-voley">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI3/AI3m.jpg" style="width:100%" onclick="currentSlide(11)" alt="Piscina y zona de parrillas">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI3/AI3n.jpg" style="width:100%" onclick="currentSlide(12)" alt="Vista del terreno en venta">
        </div>
      </div>
    </div>

        <h5>Ubicación</h5>
        <img src="/static/AI3/AI3u1.jpg" alt="Ubicación terreno" style="width:100%;">
        <p></p>
        
    <h5>Video</h5>       
    <video width="100%" height="auto" controls>
      <source src={{ url_for('static', filename="Los Pecanos.mp4") }} type="video/mp4">
      Your browser does not support the video tag.
    </video>
 
        <h6></h6>        
        <input type="button" onclick="history.back()" name="volver al inicio" value="volver al inicio">


    <script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      var captionText = document.getElementById("caption");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
      captionText.innerHTML = dots[slideIndex-1].alt;
    }
    </script>

{% endblock %}

