{% extends "layout.html" %}

{% block title %}
    Melba Marazo
{% endblock %}


{% block main %}

        <div class="header">
            <h4>Melba Marazo  Agente Inmobiliario  996 348 766</h4><br>
        </div>

        <div class="flex-container">
          <div style="flex-grow: 4"> Venta de terreno zona urbana Pachacamac </div>
          <div style="flex-grow: 1"> Zona urbanizada Villa El Sol </div>
          <div style="flex-grow: 2"> Con todos los servicios </div>
          <div style="flex-grow: 1"> 6.0 m x 20.0 m </div>
          <div style="flex-grow: 2"> 120 m2</div>
        </div>

        <h3> </h3><h4> Venta de terreno zona urbana Pachacamac </h4>
        <p>  Se vende terreno en Villa El Sol de Pachacamac I Etapa, una excelente oportunidad de construir tu casa en el sur de Lima, 
se encuentra en un lugar seguro y tranquilo, con casas ya construidas, a 100 m de parques, muy cerca a colegios, restaurantes campestres 
donde podrás disfrutar en familia y amigos muy cerca a tiendas bodegas, mini market, farmacias, clínica dental y otros comercios..</p>
        <p> En el sur de Lima </p>
        <p> Cuenta con luz, agua y desague </p>
        <p> Cuenta con documentación en regla </p>
        <p> Inscrito en Registros Públicos </p>


    <h2 style="text-align:center">Galer&iacutea</h2>

    <div class="container">
      <div class="mySlides">
        <div class="numbertext">1 / 12</div>
        <img src="/static/AI30/AI30a.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">2 / 12</div>
        <img src="/static/AI30/AI30b.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">3 / 12</div>
        <img src="/static/AI30/AI30c.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">4 / 12</div>
        <img src="/static/AI30/AI30d.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">5 / 12</div>
        <img src="/static/AI30/AI30e.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">6 / 12</div>
        <img src="/static/AI30/AI30f.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">7 / 12</div>
        <img src="/static/AI30/AI30g.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">8 / 12</div>
        <img src="/static/AI30/AI30h.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">9 / 12</div>
        <img src="/static/AI30/AI30i.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">10 / 12</div>
        <img src="/static/AI30/AI30j.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">11 / 12</div>
        <img src="/static/AI30/AI30k.jpg" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">12 / 12</div>
        <img src="/static/AI30/AI30m.jpg" style="width:100%">
      </div>

      <a class="prev" onclick="plusSlides(-1)">❮</a>
      <a class="next" onclick="plusSlides(1)">❯</a>

      <div class="caption-container">
       <p id="caption"></p>
      </div>

      <div class="row">

        <div class="column">
          <img class="demo cursor" src="/static/AI30/AI30a.jpg" style="width:100%" onclick="currentSlide(1)" alt="Frente terreno">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI30/AI30b.jpg" style="width:100%" onclick="currentSlide(2)" alt="Terreno vista A">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI30/AI30c.jpg" style="width:100%" onclick="currentSlide(3)" alt="Terreno vista B">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI30/AI30d.jpg" style="width:100%" onclick="currentSlide(4)" alt="Vista lateral terreno">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI30/AI30e.jpg" style="width:100%" onclick="currentSlide(5)" alt="Vista acceso">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI30/AI30f.jpg" style="width:100%" onclick="currentSlide(6)" alt="Calle 04 vista A">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI30/AI30g.jpg" style="width:100%" onclick="currentSlide(7)" alt="Calle 04 vista B">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI30/AI30h.jpg" style="width:100%" onclick="currentSlide(8)" alt="Acceso desde av Lima">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI30/AI30i.jpg" style="width:100%" onclick="currentSlide(9)" alt="Parque en calle 04">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI30/AI30j.jpg" style="width:100%" onclick="currentSlide(10)" alt="Comercios en acceso">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI30/AI30k.jpg" style="width:100%" onclick="currentSlide(11)" alt="Comercios en zona">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI30/AI30mf.jpg" style="width:100%" onclick="currentSlide(12)" alt="Servicios en zona">
        </div>

      </div>
    </div>

        <h5>Ubicación</h5>
        <img src="/static/AI30/AI30u1.jpg" alt="Ubicación" style="width:100%;">
        <p></p>
        
   
        <input type="button" onclick="history.back()" name="volver al inicio" value="volver al inicio">


    <script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      var captionText = document.getElementById("caption");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
      captionText.innerHTML = dots[slideIndex-1].alt;
    }
    </script>

{% endblock %}

