{% extends "layout.html" %}

{% block title %}
    Melba Marazo
{% endblock %}


{% block main %}

        <div class="header">
            <h4>Melba Marazo  Agente Inmobiliario  996 348 766</h4><br>
        </div>

        <div class="flex-container">
          <div style="flex-grow: 4"> Alquiler Local Comercial en zona céntrica de Barranca </div>
          <div style="flex-grow: 1"> US$3500/ mes </div>
          <div style="flex-grow: 2"> Dos puertas levadizas </div>
          <div style="flex-grow: 1"> Tres pisos </div>
          <div style="flex-grow: 2"> 100 m2, 200 m2 y 200 m2</div>
        </div>

        <h3> </h3><h4> Se alquila local comercial en la zona céntrica de la ciudad de Barranca </h4>
        <p> Av. Leoncio Prado con la Antigua Panamericana </p>
        <p> Ideal para todo tipo de negocio como: consultorios , oficinas, academias, almacenes, mini markets, panaderías, pastelerías entre otros. </p>
        <p> El local tiene 3 pisos. </p>
        <p> 1er piso tiene 100m2 aprox. cuenta con 2 puertas levadizas, 2 baños, 2 habitaciones </p>
        <p> 2do piso tiene 200m2 con  vista a la calle, pues se encuentra en una esquina, cuenta con 2 ambientes grandes, baño y una habitación </p>
        <p> 3er piso tiene 200m2,  se encuentra parcialmente techado </p>


    <h2 style="text-align:center">Galer&iacutea</h2>

    <div class="container">
      <div class="mySlides">
        <div class="numbertext">1 / 12</div>
        <img src="/static/AI31/AI31a.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">2 / 12</div>
        <img src="/static/AI31/AI31b.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">3 / 12</div>
        <img src="/static/AI31/AI31c.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">4 / 12</div>
        <img src="/static/AI31/AI31d.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">5 / 12</div>
        <img src="/static/AI31/AI31e.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">6 / 12</div>
        <img src="/static/AI31/AI31f.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">7 / 12</div>
        <img src="/static/AI31/AI31g.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">8 / 12</div>
        <img src="/static/AI31/AI31h.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">9 / 12</div>
        <img src="/static/AI31/AI31i.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">10 / 12</div>
        <img src="/static/AI31/AI31j.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">11 / 12</div>
        <img src="/static/AI31/AI31k.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">12 / 12</div>
        <img src="/static/AI31/AI31m.jpg" style="width:100%">
      </div>


      <a class="prev" onclick="plusSlides(-1)">❮</a>
      <a class="next" onclick="plusSlides(1)">❯</a>

      <div class="caption-container">
       <p id="caption"></p>
      </div>

      <div class="row">

        <div class="column">
          <img class="demo cursor" src="/static/AI31/AI31a.jpg" style="width:100%" onclick="currentSlide(1)" alt="Vista general externa">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI31/AI31b.jpg" style="width:100%" onclick="currentSlide(2)" alt="">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI31/AI31c.jpg" style="width:100%" onclick="currentSlide(3)" alt="">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI31/AI31d.jpg" style="width:100%" onclick="currentSlide(4)" alt="">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI31/AI31e.jpg" style="width:100%" onclick="currentSlide(5)" alt="">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI31/AI31f.jpg" style="width:100%" onclick="currentSlide(6)" alt="">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI31/AI31g.jpg" style="width:100%" onclick="currentSlide(7)" alt="">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI31/AI31h.jpg" style="width:100%" onclick="currentSlide(8)" alt="">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI31/AI31i.jpg" style="width:100%" onclick="currentSlide(9)" alt="">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI31/AI31j.jpg" style="width:100%" onclick="currentSlide(10)" alt="">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI31/AI31k.jpg" style="width:100%" onclick="currentSlide(11)" alt="">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI31/AI31m.jpg" style="width:100%" onclick="currentSlide(12)" alt="Entorno">
        </div>


      </div>
    </div>

        <h5>Ubicación</h5>
        <img src="/static/AI31/AI31u1.jpg" alt="Ubicación" style="width:100%;">
        <p></p>
        
   
        <input type="button" onclick="history.back()" name="volver al inicio" value="volver al inicio">


    <script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      var captionText = document.getElementById("caption");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
      captionText.innerHTML = dots[slideIndex-1].alt;
    }
    </script>

{% endblock %}

