{% extends "layout.html" %}

{% block title %}
    Melba Marazo
{% endblock %}


{% block main %}

        <div class="header">
            <h4>Melba Marazo  Agente Inmobiliario  996 348 766</h4><br>
        </div>

        <div class="flex-container">
          <div style="flex-grow: 4">Terrenos Barranca Manzana I Virgen de Chapi</div>
          <div style="flex-grow: 2"> 156 US$/m2 </div>
          <div style="flex-grow: 1"> Venta lotes individuales o total </div>
          <div style="flex-grow: 1"> Zona urbana consolidada </div>
          <div style="flex-grow: 2"> 140 m2</div>
        </div>

    <h2 style="text-align:center">Galer&iacutea</h2>

    <div class="container">
      <div class="mySlides">
        <div class="numbertext">1 / 3</div>
        <img src="/static/AI7/AI7a.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">2 / 3</div>
        <img src="/static/AI7/AI7b.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">3 / 3</div>
        <img src="/static/AI7/AI7c.jpg" style="width:100%">
      </div>
    
    
      <a class="prev" onclick="plusSlides(-1)">❮</a>
      <a class="next" onclick="plusSlides(1)">❯</a>

      <div class="caption-container">
       <p id="caption"></p>
      </div>

      <div class="row">
        <div class="column">
          <img class="demo cursor" src="/static/AI7/AI7a.jpg" style="width:100%" onclick="currentSlide(1)" alt="Vista frontal lotes 18 y 19">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI7/AI7b.jpg" style="width:100%" onclick="currentSlide(2)" alt="Vista frontal lotes 18 y 19">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI7/AI7c.jpg" style="width:100%" onclick="currentSlide(3)" alt="Vista lotes 18 y 19 en dirección a Ca. Pampa de Lara">
        </div>
      </div>
    </div>

        <h5>Ubicación</h5>
        <img src="/static/AI4u1.jpg" alt="Ubicación terrenos" style="width:100%;">
        <h6></h6>
        <img src="/static/AI4u2.jpg" alt="Ubicación terrenos" style="width:100%;">
        <h6></h6>
        <img src="/static/AI7/AI7u3.jpg" alt="Ubicación terrenos" style="width:100%;">
        <p></p>
        
    <h5>Video</h5>       
    <video width="100%" height="auto" controls>
      <source src={{ url_for('static', filename="Video Mz I.MP4") }} type="video/mp4">
      Your browser does not support the video tag.
    </video>
    
        <h3> </h3><h3>Desarrollo</h3>
        <p>Los lotes se encuentran en una zona urbana consolidada con tendencia a la saturaci&oacuten</p>
        <p>En el gr&aacutefico se aprecia la evoluci&oacuten del desarrollo urbano de la zona</p>
        <p>En base a esto, si se est&aacute evaluando efectuar una inversi&oacuten en terrenos, nuestra recomendaci&oacuten es hacerla ahora</p>
        <img src="/static/ComparacionBarranca.jpg" alt="Evolución urbana" style="width:100%;"> 
        <h6></h6>        
        <input type="button" onclick="history.back()" name="volver al inicio" value="volver al inicio">


    <script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      var captionText = document.getElementById("caption");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
      captionText.innerHTML = dots[slideIndex-1].alt;
    }
    </script>

{% endblock %}

