{% extends "layout.html" %}

{% block title %}
    Melba Marazo
{% endblock %}


{% block main %}

        <div class="header">
            <h4>Melba Marazo  Agente Inmobiliario  996 348 766</h4><br>
        </div>

        <div class="flex-container">
          <div style="flex-grow: 4">Terrenos Barranca Manzana A Virgen de Chapi</div>
          <div style="flex-grow: 2"> 156 US$/m2 </div>
          <div style="flex-grow: 1"> Venta lotes individuales o total </div>
          <div style="flex-grow: 1"> Zona urbana consolidada </div>
          <div style="flex-grow: 2"> 110 y 150 m2</div>
        </div>

        <h3> </h3><h4>Lotes para la casa que soñaste</h4>
        <p>Los lotes se encuentran en una zona urbana consolidada, a 7 minutos de la Plaza de Armas y de MegaPlaza Barranca,</p>
        <p>a un kilómetro de la salida a la Panamericana Norte. La zona tiene servicios cercanos de restaurantes, boticas, hoteles,</p>
        <p>minimarkets, tiendas y grifos. Dispone de redes de Baja Tensión y Alumbrado Público.</p>

    <h2 style="text-align:center">Galer&iacutea</h2>

    <div class="container">
      <div class="mySlides">
        <div class="numbertext">1 / 10</div>
        <img src="/static/AI8/AI8b.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">2 / 10</div>
        <img src="/static/AI8/AI8a.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">3 / 10</div>
        <img src="/static/AI8/AI8c.jpg" style="width:100%">
      </div>
    

      <div class="mySlides">
        <div class="numbertext">4 / 10</div>
        <img src="/static/AI8/AI8d.jpg" style="width:100%">
      </div>
    
      <div class="mySlides">
        <div class="numbertext">5 / 10</div>
        <img src="/static/AI8/AI8e.jpg" style="width:100%">
      </div>
    
      <div class="mySlides">
        <div class="numbertext">6 / 10</div>
        <img src="/static/AI8/AI8f.jpg" style="width:100%">
      </div>
    
      <div class="mySlides">
        <div class="numbertext">7 / 10</div>
        <img src="/static/AI8/AI8g.jpg" style="width:100%">
      </div>
    
      <div class="mySlides">
        <div class="numbertext">8 / 10</div>
        <img src="/static/AI8/AI8h.jpg" style="width:100%">
      </div>
     
      <div class="mySlides">
        <div class="numbertext">9 / 10</div>
        <img src="/static/AI8/AI8i.jpg" style="width:100%">
      </div>
     
      <div class="mySlides">
        <div class="numbertext">10 / 10</div>
        <img src="/static/AI8/AI8j.jpg" style="width:100%">
      </div>
        
      <a class="prev" onclick="plusSlides(-1)">❮</a>
      <a class="next" onclick="plusSlides(1)">❯</a>

      <div class="caption-container">
       <p id="caption"></p>
      </div>

      <div class="row">
        <div class="column">
          <img class="demo cursor" src="/static/AI8/AI8b.jpg" style="width:100%" onclick="currentSlide(1)" alt="Vista lote 17 hacia Ca. Pampa de Lara">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI8/AI8a.jpg" style="width:100%" onclick="currentSlide(2)" alt="Vista frontal lote 17">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI8/AI8c.jpg" style="width:100%" onclick="currentSlide(3)" alt="Vista lote 11">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI8/AI8d.jpg" style="width:100%" onclick="currentSlide(4)" alt="Vista lote 11">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI8/AI8e.jpg" style="width:100%" onclick="currentSlide(5)" alt="Vista lote 11 hacia construcci&oacuten contigua">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI8/AI8f.jpg" style="width:100%" onclick="currentSlide(6)" alt="Vista desde lote 17 hacia lote 11">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI8/AI8g.jpg" style="width:100%" onclick="currentSlide(7)" alt="Acceso vehicular visto desde los lotes">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI8/AI8h.jpg" style="width:100%" onclick="currentSlide(8)" alt="Accesp vehicular hacia los lotes">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI8/AI8i.jpg" style="width:100%" onclick="currentSlide(9)" alt="Cerca a la Plaza de Armas">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI8/AI8j.jpg" style="width:100%" onclick="currentSlide(10)" alt="Cerca al Megaplaza">
        </div>
      </div>
    </div>

        <h5>Ubicación</h5>
        <img src="/static/AI4u1.jpg" alt="Ubicación terrenos" style="width:100%;">
        <h6></h6>
        <img src="/static/AI4u2.jpg" alt="Ubicación terrenos" style="width:100%;">
        <h6></h6>
        <img src="/static/AI8/AI8u3.jpg" alt="Ubicación terrenos" style="width:100%;">
        <p></p>
        
    
        <h3> </h3><h3>Desarrollo</h3>
        <p>Los lotes se encuentran en una zona urbana consolidada con tendencia a la saturaci&oacuten</p>
        <p>En el gr&aacutefico se aprecia la evoluci&oacuten del desarrollo urbano de la zona</p>
        <p>En base a esto, si se est&aacute evaluando efectuar una inversi&oacuten en terrenos, nuestra recomendaci&oacuten es hacerla ahora</p>
        <img src="/static/ComparacionBarranca.jpg" alt="Evolución urbana" style="width:100%;"> 
        <h6></h6>        
        <input type="button" onclick="history.back()" name="volver al inicio" value="volver al inicio">


    <script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      var captionText = document.getElementById("caption");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
      captionText.innerHTML = dots[slideIndex-1].alt;
    }
    </script>

{% endblock %}

