{% extends "layout.html" %}

{% block title %}
    Melba Marazo
{% endblock %}


{% block main %}

        <div class="header">
            <h4>Melba Marazo  Agente Inmobiliario  996 348 766</h4><br>
        </div>

        <div class="flex-container">
          <div style="flex-grow: 4">Casa en Ate Urb. Ceres III Etapa</div>
          <div style="flex-grow: 2"> 2 hab. 1 baño </div>
          <div style="flex-grow: 1"> US$195,000</div>
          <div style="flex-grow: 1"> AT 162.56 m2 </div>
          <div style="flex-grow: 2"> AC 60 m2</div>
        </div>

        <h3> </h3><h4>La casa en zona comercial que estabas esperando</h4>
        <p>Ubicada en Psje. San Ramón con Av. Los Virreyes, muy cerca a zona comercial y al colegio Inca Garcilaso de la Vega,</p>
        <p> tiene un solo piso, 2 dormitorios, 1 baño, sala, comedor, cocina y patio. Todos los papeles en regla. Con precio</p>
        <p> a negociar según tu capacidad. Año de contrucción: 2009</p>

    <h2 style="text-align:center">Galer&iacutea</h2>

    <div class="container">
      <div class="mySlides">
        <div class="numbertext">1 / 6</div>
        <img src="/static/AI9/AI9a.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">2 / 6</div>
        <img src="/static/AI9/AI9b.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">3 / 6</div>
        <img src="/static/AI9/AI9c.jpg" style="width:100%">
      </div>
    

      <div class="mySlides">
        <div class="numbertext">4 / 6</div>
        <img src="/static/AI9/AI9d.jpg" style="width:100%">
      </div>
    
      <div class="mySlides">
        <div class="numbertext">5 / 6</div>
        <img src="/static/AI9/AI9e.jpg" style="width:100%">
      </div>
    
      <div class="mySlides">
        <div class="numbertext">6 / 6</div>
        <img src="/static/AI9/AI9f.jpg" style="width:100%">
      </div>
    
        
      <a class="prev" onclick="plusSlides(-1)">❮</a>
      <a class="next" onclick="plusSlides(1)">❯</a>

      <div class="caption-container">
       <p id="caption"></p>
      </div>

      <div class="row">
        <div class="column">
          <img class="demo cursor" src="/static/AI9/AI9a.jpg" style="width:100%" onclick="currentSlide(1)" alt="Vista Psje. San Ramón">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI9/AI9b.jpg" style="width:100%" onclick="currentSlide(2)" alt="Vista comedor">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI9/AI9c.jpg" style="width:100%" onclick="currentSlide(3)" alt="Vista sala">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI9/AI9d.jpg" style="width:100%" onclick="currentSlide(4)" alt="Vista fachada">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI9/AI9e.jpg" style="width:100%" onclick="currentSlide(5)" alt="Plano área y perímetro">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI9/AI9f.jpg" style="width:100%" onclick="currentSlide(6)" alt="Plano arquitectura planta">
        </div>
      </div>
    </div>

        <h5>Ubicación</h5>
        <img src="/static/AI9/AI9u1.jpg" alt="Ubicación" style="width:100%;">
        <p></p>
        
   
        <input type="button" onclick="history.back()" name="volver al inicio" value="volver al inicio">


    <script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      var captionText = document.getElementById("caption");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
      captionText.innerHTML = dots[slideIndex-1].alt;
    }
    </script>

{% endblock %}

