{% extends "layout.html" %}

{% block title %}
    Melba Marazo
{% endblock %}


{% block main %}

        <div class="header">
            <h4>Melba Marazo  Agente Inmobiliario  996 348 766</h4><br>
        </div>

        <div class="flex-container">
          <div style="flex-grow: 4">Venta casa Urb. Portada del Sol, La Molina 3ra Etapa</div>
          <div style="flex-grow: 2"> 1 Duplex </div>
          <div style="flex-grow: 1"> 1 Flat</div>
          <div style="flex-grow: 1"> 1er Departamento </div>
          <div style="flex-grow: 2"> 2do Departamento</div>
        </div>

        <h3> </h3><h4>Casa en venta como excelente oportunidad para negocio</h4>
        <p>Ubicada en calle Chinchero en la Urb. La Portada del Sol, La Molina, 3ra Etapa, con buen clima todo el año</p>
        <p> Tiene: 1 Duplex 1er y 2do piso, 3 dormitorios. Un Flat, 3 dormitorios. 1er Departamento 2do piso, dos dormitorios. 2do Departamento, 1 dormitorio. Todos los papeles en regla.</p>
        <p>Con precio a negociar según tu capacidad.</p>

    <h2 style="text-align:center">Galer&iacutea</h2>

    <div class="container">
      <div class="mySlides">
        <div class="numbertext">1 / 10</div>
        <img src="/static/AI9/AI9a.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">2 / 10</div>
        <img src="/static/AI9/AI9b.jpg" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">3 / 10</div>
        <img src="/static/AI9/AI9c.jpg" style="width:100%">
      </div>
    

      <div class="mySlides">
        <div class="numbertext">4 / 10</div>
        <img src="/static/AI9/AI9d.jpg" style="width:100%">
      </div>
    
      <div class="mySlides">
        <div class="numbertext">5 / 10</div>
        <img src="/static/AI9/AI9e.jpg" style="width:100%">
      </div>
    
      <div class="mySlides">
        <div class="numbertext">6 / 10</div>
        <img src="/static/AI9/AI9f.jpg" style="width:100%">
      </div>
    
      <div class="mySlides">
        <div class="numbertext">7 / 10</div>
        <img src="/static/AI9/AI9g.jpg" style="width:100%">
      </div>
    
      <div class="mySlides">
        <div class="numbertext">8 / 10</div>
        <img src="/static/AI9/AI9h.jpg" style="width:100%">
      </div>
    
      <div class="mySlides">
        <div class="numbertext">9 / 10</div>
        <img src="/static/AI9/AI9i.jpg" style="width:100%">
      </div>
    
      <div class="mySlides">
        <div class="numbertext">10 / 10</div>
        <img src="/static/AI9/AI9j.jpg" style="width:100%">
      </div>


      <a class="prev" onclick="plusSlides(-1)">❮</a>
      <a class="next" onclick="plusSlides(1)">❯</a>

      <div class="caption-container">
       <p id="caption"></p>
      </div>

      <div class="row">
        <div class="column">
          <img class="demo cursor" src="/static/AI9/AI9a.jpg" style="width:100%" onclick="currentSlide(1)" alt="">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI9/AI9b.jpg" style="width:100%" onclick="currentSlide(2)" alt="">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI9/AI9c.jpg" style="width:100%" onclick="currentSlide(3)" alt="">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI9/AI9d.jpg" style="width:100%" onclick="currentSlide(4)" alt="Cocina">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI9/AI9e.jpg" style="width:100%" onclick="currentSlide(5)" alt="">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI9/AI9f.jpg" style="width:100%" onclick="currentSlide(6)" alt="">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI9/AI9g.jpg" style="width:100%" onclick="currentSlide(7)" alt="Baño completo típico">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI9/AI9h.jpg" style="width:100%" onclick="currentSlide(8)" alt="Estacionamiento">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI9/AI9i.jpg" style="width:100%" onclick="currentSlide(9)" alt="Azotea">
        </div>
        <div class="column">
          <img class="demo cursor" src="/static/AI9/AI9j.jpg" style="width:100%" onclick="currentSlide(10)" alt="calle Chinchero">
        </div>





      </div>
    </div>

        <h5>Ubicación</h5>
        <img src="/static/AI9/AI9u1.jpg" alt="Ubicación" style="width:100%;">
        <p></p>
        
   
        <input type="button" onclick="history.back()" name="volver al inicio" value="volver al inicio">


    <script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      var captionText = document.getElementById("caption");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
      captionText.innerHTML = dots[slideIndex-1].alt;
    }
    </script>

{% endblock %}

