{% extends "layout.html" %}

{% block title %}
    Agente Inmobiliario en Lima - Venda, compre o alquile su casa o propiedad
{% endblock %}


{% block main %}
    <div class="row">
         <div class="column back50"></div>
         <div class="column cincuenta" style="font-size: 26px;">
            <b>Melba Marazo<br><span style="font-size: 16px;">Agente Inmobiliario en Lima<br></span><span style="font-size: 13px;">Cód. 13115-PN-MVCS<br></span><span style="font-size: 16px;">Cel. 996 348 766<br>sofimarazo@gmail.com</span></b>
         </div>             
    </div>


    <div style="width:100%;text-align:center;">
       <a href="https://bit.ly/3pVEBbe"><img src="/static/Whatsapp.jpg" alt="Whatsapp" style="width:42px;height:42px;"></a>
    </div>

    <button class="button1" onclick="document.location='/contacto'">Contactar agente</button><br>

    <div class="header">
        <h1>Sobre mi</h1>
        <p><i>Experta en asesoría e intermediación inmobiliaria. Compra, venta y/o alquiler de departamentos, casas, locales, oficinas, terrenos urbanos, comerciales, agrícolas e industriales, en el menor tiempo y al mejor precio posible.<br></i></p>
    </div>

    <div class="texto1">
        <p>Mis servicios se sustentan en brindar un trato totalmente personalizado, seguro y de la más alta confiabilidad, pensando en los mínimos detalles para obtener los mejores resultados y así alcanzar la completa satisfacción de mis clientes.</p>
    </div>

    <div class="header">
        <h1>Listado de oportunidades</h1>
        <p>Hacer click sobre cada imagen para mayor detalle</p>
    </div>


    <div class="row">
      
      <div class="column">
        <div class="content">
          <a href={{ url_for("ai1")}}><img src='/static/AI1/AI1a.jpg' alt="Terreno-Supe Puerto" style="width:100%"></a>
          <div class="center">
             <h5>Venta terreno-Supe Puerto</h5>
             <p style="font-size:15px;">Antigua Pan Norte límite Supe Puerto con Barranca<br><del>US$6 401 200</del> US$3 853 725<br>51383 m2</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="content">
          <a href={{ url_for("ai2")}}><img src='/static/AI2/AI2a.jpg' alt="Terreno-Supe Puerto" style="width:100%"></a>
          <div class="center">
             <h5>Venta terreno-Supe Puerto</h5>
             <p style="font-size:15px;">Antigua Pan Norte límite Supe Puerto con Barranca<br><del>US$5 184 900</del> US$3 168 550<br>57610 m2</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="content">
          <a href={{ url_for("ai3")}}><img src='/static/AI3/AI3a.jpg' alt="Terreno-Supe Puerto" style="width:100%"></a>
          <div class="center">
             <h5>Venta terreno-Supe Puerto</h5>
             <p style="font-size:15px;">Antigua Pan Norte límite Supe Puerto con Barranca<br><del>US$5 683 500</del> US$4 104 880<br>63150 m2</p>
          </div>
        </div>
      </div>


      <div class="column">
        <div class="content">
          <a href={{ url_for("ai4")}}><img src='/static/AI4/AI4a.jpg' alt="Terrenos Barranca" style="width:100%"></a>
          <div class="center">
             <h5>Venta terrenos Barranca Mz M</h5>
             <p style="font-size:15px;">Virgen de Chapi Mz M lotes L12, L13<br>156 US$/m2<br>140 m2</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="content">
          <a href={{ url_for("ai5")}}><img src='/static/AI5/AI5a.jpg' alt="Terrenos Barranca" style="width:100%"></a>
          <div class="center">
             <h5>Venta terrenos Barranca Mz LL</h5>
             <p style="font-size:15px;">Virgen de Chapi Mz LL lote 12<br>156 US$/m2<br>110.25 m2</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="content">
          <a href={{ url_for("ai6")}}><img src='/static/AI6/AI6c.jpg' alt="Terrenos Barranca" style="width:100%"></a>
          <div class="center">
             <h5>Venta terrenos Barranca Mz B</h5>
             <p style="font-size:15px;">Virgen de Chapi Mz B lotes L11, L12, L13<br>156 US$/m2<br>103 a 140 m2</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="content">
          <a href={{ url_for("ai7")}}><img src='/static/AI7/AI7a.jpg' alt="Terrenos Barranca" style="width:100%"></a>
          <div class="center">
             <h5>Venta terrenos Barranca Mz I</h5>
             <p style="font-size:15px;">Virgen de Chapi Mz I lotes L18, L19<br>156 US$/m2<br>140 m2 c/u</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="content">
          <a href={{ url_for("ai8")}}><img src='/static/AI8/AI8b.jpg' alt="Terrenos Barranca" style="width:100%"></a>
          <div class="center">
             <h5>Venta terrenos Barranca Mz A</h5>
             <p style="font-size:15px;">Virgen de Chapi Mz A lotes L17<br>156 US$/m2<br>150 m2</p>
          </div>
        </div>
      </div>


       <div class="column">
        <div class="content">
          <a href={{ url_for("ai10")}}><img src='/static/AI10/AI10a.jpg' alt="Terrenos Barranca" style="width:100%"></a>
          <div class="center">
             <h5>Venta terrenos Barranca Mz J</h5>
             <p style="font-size:15px;">Virgen de Chapi Mz J lotes L5, L13, L14, L19<br>150 US$/m2<br>133 a 151 m2</p>
          </div>
        </div>
      </div>       

       <div class="column">    
        <div class="content">
          <a href={{ url_for("ai11")}}><img src='/static/AI11/AI11d.jpg' alt="Venta 8 departamentos en el centro de Barranca" style="width:100%"></a>
          <div class="center">
             <h5>Venta 8 departamentos en el centro de Barranca</h5>
             <p style="font-size:15px;">Muy cerca al MegaPlaza Barranca y a la Plaza de Armas<br>51 m2<br>2 depas por piso</p>
          </div>
        </div>
       </div> 

       <div class="column">      
        <div class="content">
          <a href={{ url_for("ai12")}}><img src='/static/AI12/AI12a.jpg' alt="Terrenos Barranca Mz J" style="width:100%"></a>
          <div class="center">
             <h5>Venta terrenos Barranca Mz J</h5>
             <p style="font-size:15px;">Virgen de Chapi Mz J lotes 2, 4, 17 y 20<br>160 US$/m2<br>148 a 160 m2</p>
          </div>
        </div>
      </div>   



       <div class="column">      
        <div class="content">
          <a href={{ url_for("ai14")}}><img src='/static/AI14/AI14a.jpg' alt="Terrenos Barranca Mz B" style="width:100%"></a>
          <div class="center">
             <h5>Venta terrenos Barranca Mz B</h5>
             <p style="font-size:15px;">Virgen de Chapi Mz B lotes 17, 18 y 19<br>160 US$/m2<br>140 m2</p>
          </div>
        </div>
       </div>   
           


       <div class="column">      
        <div class="content">
          <a href={{ url_for("ai16")}}><img src='/static/AI16/AI16a.jpg' alt="terreno Brisas de Barranca" style="width:100%"></a>
          <div class="center">
             <h5>Terreno en la zona más tranquila y segura de Barranca</h5>
             <p style="font-size:15px;">Venta terrenos Mz F, Z<br>S/89,000 a S/108,000<br>101 a 120 m2</p>
          </div>
        </div>
       </div>  


      <div class="column">
        <div class="content">
          <a href={{ url_for("ai20")}}><img src='/static/AI20/AI20a.jpg' alt="Terreno-Huaral Urb. Santa Hilda" style="width:100%"></a>
          <div class="center">
             <h5>Venta terreno-Huaral Sta. Hilda</h5>
             <p style="font-size:15px;">Cerca de la carretera Chancay-Huaral, a 8 minutos de la plaza de armas de Huaral y a 12 minutos el futuro megapuerto Chancay<br> $35/m2<br>10.98 Ha</p>
          </div>
        </div>
      </div>


       <div class="column">
        <div class="content">
          <a href={{ url_for("ai21")}}><img src='/static/AI21/AI21x.jpg' alt="Linda casa en venta Urb. Villa Club II Etapa, Carabayllo" style="width:100%"></a>
          <div class="center">
             <h6>Linda casa en venta en zona segura</h6>
             <p style="font-size:15px;">Urb. Villa Club II Etapa, Carabayllo<br>Dos pisos<br>76 m2 AT<br>$75,000</p>
          </div>
        </div>
       </div>  


       <div class="column">
        <div class="content">
          <a href={{ url_for("ai22")}}><img src='/static/AI22/AI22a.jpg' alt="Depas Navarra Park Surco" style="width:100%"></a>
          <div class="center">
             <h6>Venta departamentos Navarra Park Surco</h6>
             <p style="font-size:15px;">En Urb. Residencial Higuereta, Santiago de Surco<br>Flats y dúplex<br>Flats 108 m2<br>Dúplex 139 m2</p>
          </div>
        </div>
       </div> 



       <div class="column">
        <div class="content">
          <a href={{ url_for("ai23")}}><img src='/static/AI23/AI23a.jpg' alt="Venta terreno Urb. El Sol de Huampaní" style="width:100%"></a>
          <div class="center">
             <h6>Se vende terreno de 120 m2 en la Urbanización El Sol de Huampani</h6>
             <p style="font-size:15px;">Urb. El Sol de Huampaní, Chosica<br>Cerca a autopista<br>120 m2<br>$60,000</p>
          </div>
        </div>
       </div> 

       <div class="column">      
        <div class="content">
          <a href={{ url_for("ai24")}}><img src='/static/AI24/AI24a.jpg' alt="Depas Jose Galvez Lince" style="width:100%"></a>
          <div class="center">
             <h5>Venta últimos departamentos Lince</h5>
             <p style="font-size:15px;">Departamentos independizados, José Gálvez Lince<br>Departamento de estreno<br>44.10 m2</p>
          </div>
        </div>
       </div>   

       <div class="column">      
        <div class="content">
          <a href={{ url_for("ai25")}}><img src='/static/AI25/AI25a.jpg' alt="Depas mejor zona Surquillo" style="width:100%"></a>
          <div class="center">
             <h5>Últimos departamentos Surquillo</h5>
             <p style="font-size:15px;">En una de las mejores zonas de Surquillo<br>Flats y dúplex<br>Desde 40 m2</p>
          </div>
        </div>
       </div>   

        <div class="column">      
        <div class="content">
          <a href={{ url_for("ai26")}}><img src='/static/AI26/AI26a.jpg' alt="Depas Proyecto Marcona Surco" style="width:100%"></a>
          <div class="center">
             <h5>Venta departamentos Proyecto Marcona Surco</h5>
             <p style="font-size:15px;">En Urb. Residencial Higuereta, Santiago de Surco<br>Flats y dúplex de estreno<br>Desde 82 a 216 m2</p>
          </div>
        </div>
       </div>         

       <div class="column">      
        <div class="content">
          <a href={{ url_for("ai28")}}><img src='/static/AI28/AI28aa.jpg' alt="Terreno García Alonso Huaral" style="width:100%"></a>
          <div class="center">
             <h5>Venta terreno agrícola Huaral</h5>
             <p style="font-size:15px;">Para proyectos agrícolas, inmobiliarios, casas de campo<br>A 2 minutos de la zona urbana<br>32,453 m2</p>
          </div>
        </div>
       </div>   
      
       <div class="column">      
        <div class="content">
          <a href={{ url_for("ai29")}}><img src='/static/AI29/AI29aa.jpg' alt="Venta terreno urbano Huaral" style="width:100%"></a>
          <div class="center">
             <h5>Venta terreno Urb. Aparicio Huaral</h5>
             <p style="font-size:15px;">Cerca a la Plaza de Armas y al mercado Mazu<br>9.0 x 20.0 m<br>180 m2</p>
          </div>
        </div>
       </div> 
        
       <div class="column">
        <div class="content">
          <img src='/static/AI101/AI101a.jpg' alt="Depa_San_Miguel" style="width:100%">
          <div class="center">
             <h5>Alquiler departamento San Miguel</h5>
             <p style="font-size:15px;">Av. Costanera 2830<br>S/2200 mes<br>150 m2 piso 14</p>
          </div>
         </div>
       </div>

      <div class="column">
        <div class="content">
          <img src='/static/AI102/AI102a.jpg' alt="Alquiler local industrial" style="width:100%">
          <div class="center">
             <h5>Alquiler local industrial</h5>
             <p style="font-size:15px;">Villa El Salvador<br>S/1200 mes<br>250 m2 dos plantas</p>
          </div>
         </div>
       </div>
        
      <div class="column">
        <div class="content">
          <img src='/static/AI103/AI103a.jpg' alt="Terreno Barranca" style="width:100%">
          <div class="center">
             <h5>Venta terreno Barranca Mz LL</h5>
             <p style="font-size:15px;">Virgen de Chapi Mz LL lote L11<br>156 US$/m2<br>114 m2</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="content">
          <img src='/static/AI104/AI104a.jpg' alt="Terreno Barranca" style="width:100%">
          <div class="center">
             <h5>Venta terreno Barranca Mz LL</h5>
             <p style="font-size:15px;">Virgen de Chapi Mz LL lote L14<br>156 US$/m2<br>106.75 m2</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="content">
          <img src='/static/AI105/AI105a.jpg' alt="Terreno Barranca" style="width:100%">
          <div class="center">
             <h5>Venta terreno Barranca Mz A</h5>
             <p style="font-size:15px;">Virgen de Chapi Mz A lote L11<br>156 US$/m2<br>150 m2</p>
          </div>
        </div>
      </div>        

      <div class="column">
        <div class="content">
          <img src='/static/AI106/AI106a.jpg' alt="Depa_San_Felipe" style="width:100%">
          <div class="center">
             <h5>Alquiler departamento San Felipe JM</h5>
             <p style="font-size:15px;">Av. San Felipe Jesús María<br>US$700 mes<br>90 m2 piso 5</p>
          </div>
         </div>
       </div>

      <div class="column">
        <div class="content">
          <img src='/static/AI107/AI107a.jpg' alt="Terreno Barranca" style="width:100%">
          <div class="center">
             <h5>Venta terreno Barranca Mz M</h5>
             <p style="font-size:15px;">Virgen de Chapi Mz M lote 16<br>156 US$/m2<br>140 m2</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="content">
          <img src='/static/AI108/AI108a.jpg' alt="Terreno Barranca" style="width:100%">
          <div class="center">
             <h5>Venta terreno Barranca Mz M</h5>
             <p style="font-size:15px;">Virgen de Chapi Mz M lote 17<br>156 US$/m2<br>175 m2</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="content">
          <img src='/static/AI109/AI109a.jpg' alt="Alquiler local comercial El Muro" style="width:100%">
          <div class="center">
             <h5>Alquiler local comercial El Muro</h5>
             <p style="font-size:15px;">Av.Alameda-sec.16 de Diciembre-S.J.L.<br>S/1000 mes<br>90 m2 segundo piso</p>
          </div>
         </div>
       </div>

      <div class="column">
        <div class="content">
          <img src='/static/AI110/AI110a.jpg' alt="alquiler depa SJM" style="width:100%">
          <div class="center">
             <h5>Bonito departamento en excelente zona de SJM</h5>
             <p style="font-size:15px;">Vista a la calle, cerca a paraderos, Cine Star y Metro<br>S/1300 mes<br>90 m2</p>
          </div>
         </div>
       </div>

      <div class="column">
        <div class="content">
          <img src='/static/AI111/AI111a.jpg' alt="Terreno Barranca Mz LL" style="width:100%">
          <div class="center">
             <h5>Venta terreno Barranca Mz LL</h5>
             <p style="font-size:15px;">Virgen de Chapi Mz LL lote 13<br>156 US$/m2<br>108.5 m2</p>
          </div>
         </div>
       </div>

      <div class="column">
        <div class="content">
          <img src='/static/AI112/AI112a.jpg' alt="Terrenos Barranca Mz J" style="width:100%">
          <div class="center">
             <h5>Venta terrenos Barranca Mz J</h5>
             <p style="font-size:15px;">Virgen de Chapi Mz J lote 18<br>160 US$/m2<br>150 m2</p>
          </div>
         </div>
      </div>
        
      <div class="column">
        <div class="content">
          <img src='/static/AI113/AI113a.jpg' alt="Terrenos Brisas de Barranca" style="width:100%">
          <div class="center">
             <h5>Venta terreno Portales Brisas de Barranca</h5>
             <p style="font-size:15px;">Brisas de Barranca Lt 28 Mz W<br>114 m2<br>6 x 19 m</p>
          </div>
         </div>
       </div>

      <div class="column">
        <div class="content">
          <img src='/static/AI114/AI114a.jpg' alt="Terrenos Brisas de Barranca" style="width:100%">
          <div class="center">
             <h5>Venta terreno Portales Brisas de Barranca</h5>
             <p style="font-size:15px;">Brisas de Barranca Lt 18 Mz Z<br>145 m2<br>7.8 x 18.7 m</p>
          </div>
         </div>
       </div>

      <div class="column">
        <div class="content">
          <img src='/static/AI115/AI115a.jpg' alt="Terrenos Barranca Mz B" style="width:100%">
          <div class="center">
             <h5>Venta terrenos Barranca Mz B</h5>
             <p style="font-size:15px;">Virgen de Chapi Mz B lote 20<br>140 m2<br></p>
          </div>
         </div>
       </div>


      <div class="column">
        <div class="content">
          <img src='/static/AI116/AI116a.jpg' alt="Alquiler oficina Surquillo" style="width:100%">
          <div class="center">
             <h5>Alquiler amplia oficina en esquina Surquillo Urb. Aurora</h5>
             <p style="font-size:15px;">Para oficina, consultorio o vivienda<br>139m2<br></p>
          </div>
         </div>
       </div>      
        
      <div class="column">
        <div class="content">
          <img src='/static/AI117/AI117a.jpg' alt="Terrenos Brisas de Barranca" style="width:100%">
          <div class="center">
             <h5>Venta terreno Portales Brisas de Barranca</h5>
             <p style="font-size:15px;">Brisas de Barranca Lt 43 Mz W<br>114 m2<br>6.0 x 19.0 m</p>
          </div>
         </div>
       </div>         

        
    </div>
    
    <a href="{{ url_for('facebook', user='melba.marazoperea')}}" class="fa fa-facebook">facebook</a><p class="fa">@melbamarazoagenteinmobiliario</p><br>
    <a href="{{ url_for('linkedin', user='melba-marazo-perea-a230625b')}}" class="fa fa-linkedin">linkedin</a>
    <a href="{{ url_for('instagram', user='marazoperea?utm_source=qr')}}" class="fa fa-instagram">instagram</a>

{% endblock %}


