{% extends "layout.html" %}

{% block title %}
    Agente Inmobiliario en Lima - Venda, compre o alquile su casa o propiedad
{% endblock %}


{% block main %}
    <div class="row">
         <div class="column back50"></div>
         <div class="column cincuenta" style="font-size: 26px;">
            <b>Melba Marazo<br><span style="font-size: 16px;">Agente Inmobiliario en Lima<br></span><span style="font-size: 13px;">Cód. 13115-PN-MVCS<br></span><span style="font-size: 16px;">Cel. 996 348 766<br>sofimarazo@gmail.com</span></b>
         </div>             
    </div>


    <div style="width:100%;text-align:center;">
       <a href="https://bit.ly/3pVEBbe"><img src="/static/Whatsapp.jpg" alt="Whatsapp" style="width:42px;height:42px;"></a>
    </div>

    <button class="button1" onclick="document.location='/contacto'">Contactar agente</button><br>

    <div class="header">
        <h1>Sobre mi</h1>
        <p><i>Experta en asesoría e intermediación inmobiliaria. Compra, venta y/o alquiler de departamentos, casas, locales, oficinas, terrenos urbanos, comerciales, agrícolas e industriales, en el menor tiempo y al mejor precio posible.<br></i></p>
    </div>

    <div class="texto1">
        <p>Mis servicios se sustentan en brindar un trato totalmente personalizado, seguro y de la más alta confiabilidad, pensando en los mínimos detalles para obtener los mejores resultados y así alcanzar la completa satisfacción de mis clientes.</p>
    </div>

    <div class="header">
        <h1>Listado de oportunidades</h1>
        <p>Hacer click sobre cada imagen para mayor detalle</p>
    </div>


    <div class="row">
      
      <div class="column">
        <div class="content">
          <a href={{ url_for("ai1")}}><img src='/static/AI1/AI1a.jpg' alt="Terreno-Supe Puerto" style="width:100%"></a>
          <div class="center">
             <h5>Venta terreno-Supe Puerto</h5>
             <p style="font-size:15px;">Antigua Pan Norte límite Supe Puerto con Barranca<br><del>US$6 401 200</del> US$3 853 725<br>51383 m2</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="content">
          <a href={{ url_for("ai2")}}><img src='/static/AI2/AI2a.jpg' alt="Terreno-Supe Puerto" style="width:100%"></a>
          <div class="center">
             <h5>Venta terreno-Supe Puerto</h5>
             <p style="font-size:15px;">Antigua Pan Norte límite Supe Puerto con Barranca<br><del>US$5 184 900</del> US$3 168 550<br>57610 m2</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="content">
          <a href={{ url_for("ai3")}}><img src='/static/AI3/AI3a.jpg' alt="Terreno-Supe Puerto" style="width:100%"></a>
          <div class="center">
             <h5>Venta terreno-Supe Puerto</h5>
             <p style="font-size:15px;">Antigua Pan Norte límite Supe Puerto con Barranca<br><del>US$5 683 500</del> US$4 104 880<br>63150 m2</p>
          </div>
        </div>
      </div>


      <div class="column">
        <div class="content">
          <a href={{ url_for("ai4")}}><img src='/static/AI4/AI4a.jpg' alt="Terrenos Barranca" style="width:100%"></a>
          <div class="center">
             <h5>Venta terrenos Barranca Mz M</h5>
             <p style="font-size:15px;">Virgen de Chapi Mz M lotes L12, L13, L16, L17<br>156 US$/m2<br>140 a 175 m2</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="content">
          <a href={{ url_for("ai5")}}><img src='/static/AI5/AI5a.jpg' alt="Terrenos Barranca" style="width:100%"></a>
          <div class="center">
             <h5>Venta terrenos Barranca Mz LL</h5>
             <p style="font-size:15px;">Virgen de Chapi Mz LL lotes L12, L13<br>156 US$/m2<br>108 a 110 m2</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="content">
          <a href={{ url_for("ai6")}}><img src='/static/AI6/AI6c.jpg' alt="Terrenos Barranca" style="width:100%"></a>
          <div class="center">
             <h5>Venta terrenos Barranca Mz B</h5>
             <p style="font-size:15px;">Virgen de Chapi Mz B lotes L11, L12, L13<br>156 US$/m2<br>103 a 140 m2</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="content">
          <a href={{ url_for("ai7")}}><img src='/static/AI7/AI7a.jpg' alt="Terrenos Barranca" style="width:100%"></a>
          <div class="center">
             <h5>Venta terrenos Barranca Mz I</h5>
             <p style="font-size:15px;">Virgen de Chapi Mz I lotes L18, L19<br>156 US$/m2<br>140 m2 c/u</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="content">
          <a href={{ url_for("ai8")}}><img src='/static/AI8/AI8b.jpg' alt="Terrenos Barranca" style="width:100%"></a>
          <div class="center">
             <h5>Venta terrenos Barranca Mz A</h5>
             <p style="font-size:15px;">Virgen de Chapi Mz A lotes L17<br>156 US$/m2<br>150 m2</p>
          </div>
        </div>
      </div>

        <div class="column">
        <div class="content">
          <a href={{ url_for("ai9")}}><img src='/static/AI9/AI9a.jpg' alt="Casa Ate Ceres III Etapa" style="width:100%"></a>
          <div class="center">
             <h5>Casa en venta Ate</h5>
             <p style="font-size:15px;">Urb. Ceres III Etapa Psje. San Ramón<br>US$195,000<br>162.56 m2</p>
          </div>
        </div>
      </div>      

       <div class="column">
        <div class="content">
          <a href={{ url_for("ai10")}}><img src='/static/AI10/AI10a.jpg' alt="Terrenos Barranca" style="width:100%"></a>
          <div class="center">
             <h5>Venta terrenos Barranca Mz J</h5>
             <p style="font-size:15px;">Virgen de Chapi Mz J lotes L5, L13, L14, L19<br>150 US$/m2<br>133 a 151 m2</p>
          </div>
        </div>
      </div>       

       <div class="column">      
        <div class="content">
          <a href={{ url_for("ai11")}}><img src='/static/AI11/AI11a.jpg' alt="Local Comercial El Muro" style="width:100%"></a>
          <div class="center">
             <h5>Alquiler Local Comercial S.J.L.</h5>
             <p style="font-size:15px;">Av.Alameda-sec.16 de Diciembre-AAHH Integ.Solid.y Progreso S.J.L.<br>180 m2<br>Dos pisos</p>
          </div>
        </div>
      </div>          


       <div class="column">      
        <div class="content">
          <a href={{ url_for("ai12")}}><img src='/static/AI12/AI12a.jpg' alt="Terrenos Barranca Mz J" style="width:100%"></a>
          <div class="center">
             <h5>Venta terrenos Barranca Mz J</h5>
             <p style="font-size:15px;">Virgen de Chapi Mz J lotes 2, 4, 17, 18 y 20<br>160 US$/m2<br>148 a 160 m2</p>
          </div>
        </div>
      </div>   

       <div class="column">      
        <div class="content">
          <a href={{ url_for("ai13")}}><img src='/static/AI13/AI13a.jpg' alt="Local eventos Urb. Virgen de Chapi" style="width:100%"></a>
          <div class="center">
             <h5>Venta amplio local para eventos y proyectos</h5>
             <p style="font-size:15px;">Urb. Virgen de Chapi, Barranca<br>1685 m2<br>Dos pisos más azotea</p>
          </div>
        </div>
      </div>

       <div class="column">      
        <div class="content">
          <a href={{ url_for("ai14")}}><img src='/static/AI14/AI14a.jpg' alt="Terrenos Barranca Mz B" style="width:100%"></a>
          <div class="center">
             <h5>Venta terrenos Barranca Mz B</h5>
             <p style="font-size:15px;">Virgen de Chapi Mz B lotes 17, 18, 19 y 20<br>160 US$/m2<br>140 m2</p>
          </div>
        </div>
       </div>   
           
       <div class="column">      
        <div class="content">
          <a href={{ url_for("ai15")}}><img src='/static/AI15/AI15a.jpg' alt="Depa frente al mar Costanera 1" style="width:100%"></a>
          <div class="center">
             <h5>Depa frente al mar Costanera 1</h5>
             <p style="font-size:15px;">Costanera 1 La Perla 5to piso+estacionamiento<br>S/1800<br>72 m2</p>
          </div>
        </div>
       </div>  

       <div class="column">      
        <div class="content">
          <a href={{ url_for("ai16")}}><img src='/static/AI16/AI16a.jpg' alt="terreno Brisas de Barranca" style="width:100%"></a>
          <div class="center">
             <h5>Terreno en la zona más tranquila y segura de Barranca</h5>
             <p style="font-size:15px;">Venta terrenos Mz F, G, W, Z<br>S/56000 a S/78000<br>90 a 145 m2</p>
          </div>
        </div>
       </div>  

       <div class="column">      
        <div class="content">
          <a href={{ url_for("ai17")}}><img src='/static/AI17/AI17a.jpg' alt="Alquiler oficina Surquillo" style="width:100%"></a>
          <div class="center">
             <h5>Alquiler amplia oficina en esquina Surquillo Urb. Aurora</h5>
             <p style="font-size:15px;">Para oficina, consultorio o vivienda<br>S/3000 mes<br>139 m2</p>
          </div>
        </div>
       </div>  

       <div class="column">      
        <div class="content">
          <a href={{ url_for("ai18")}}><img src='/static/AI18/AI18a.jpg' alt="alquiler depa SJM" style="width:100%"></a>
          <div class="center">
             <h5>Bonito departamento en excelente zona de SJM</h5>
             <p style="font-size:15px;">Vista a la calle, cerca a paraderos, Cine Star y Metro<br>S/1300<br>90 m2</p>
          </div>
        </div>
       </div>          
        
      <div class="column">
        <div class="content">
          <img src='/static/AI101/AI101a.jpg' alt="Depa_San_Miguel" style="width:100%">
          <div class="center">
             <h5>Alquiler departamento San Miguel</h5>
             <p style="font-size:15px;">Av. Costanera 2830<br>S/2200 mes<br>150 m2 piso 14</p>
          </div>
         </div>
       </div>

      <div class="column">
        <div class="content">
          <img src='/static/AI102/AI102a.jpg' alt="Alquiler local industrial" style="width:100%">
          <div class="center">
             <h5>Alquiler local industrial</h5>
             <p style="font-size:15px;">Villa El Salvador<br>S/1200 mes<br>250 m2 dos plantas</p>
          </div>
         </div>
       </div>
        
      <div class="column">
        <div class="content">
          <img src='/static/AI103/AI103a.jpg' alt="Terreno Barranca" style="width:100%">
          <div class="center">
             <h5>Venta terreno Barranca Mz LL</h5>
             <p style="font-size:15px;">Virgen de Chapi Mz LL lote L11<br>156 US$/m2<br>114 m2</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="content">
          <img src='/static/AI104/AI104a.jpg' alt="Terreno Barranca" style="width:100%">
          <div class="center">
             <h5>Venta terreno Barranca Mz LL</h5>
             <p style="font-size:15px;">Virgen de Chapi Mz LL lote L14<br>156 US$/m2<br>106.75 m2</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="content">
          <img src='/static/AI105/AI105a.jpg' alt="Terreno Barranca" style="width:100%">
          <div class="center">
             <h5>Venta terreno Barranca Mz A</h5>
             <p style="font-size:15px;">Virgen de Chapi Mz A lote L11<br>156 US$/m2<br>150 m2</p>
          </div>
        </div>
      </div>        
          
    </div>
    
    <a href="{{ url_for('facebook', user='melba.marazoperea')}}" class="fa fa-facebook">facebook</a><p class="fa">@melbamarazoagenteinmobiliario</p><br>
    <a href="{{ url_for('linkedin', user='melba-marazo-perea-a230625b')}}" class="fa fa-linkedin">linkedin</a>
    <a href="{{ url_for('instagram', user='marazoperea?utm_source=qr')}}" class="fa fa-instagram">instagram</a>

{% endblock %}


