<!DOCTYPE html>

<html lang="sp">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Agente Inmobiliario en Lima para vender, comprar o alquilar tu casa o propiedad de forma segura y rápida">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <!-- https://favicon.io/icono propio de Melba/Casita con sol/ -->
        <link href="/static/favicon.ico" rel="icon">

        <link href="/static/styles.css" rel="stylesheet">
        <link rel='stylesheet' media='screen and (max-width: 600px)' href='/static/narrow.css' />

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <title>Agente Inmobiliario en Lima - Venda, compre o alquile su casa o propiedad{% block title %}{% endblock %}</title>

    </head>

    <body>

        <main class="container p-5">
            {% block main %}{% endblock %}
        </main>

    </body>



</html>
